n8n-exports/Lead-Research-and-Qualifying-Agent.json
{
  "updatedAt": "2026-02-10T18:41:59.251Z",
  "createdAt": "2026-01-24T16:08:37.830Z",
  "id": "LZn83NWY2FIgABUl",
  "name": "Lead Research and Qualifying Agent",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## 4. Lead Scoring Agent",
        "height": 944,
        "width": 752,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1520,
        -320
      ],
      "id": "871d3678-8eb5-4aef-8be6-35fd5ff87a54",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 2. Lead & Company Research Agent",
        "height": 944,
        "width": 752,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        -320
      ],
      "id": "9dc355bc-fee3-43eb-82a1-e8d79e252507",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 1. New Lead\n\n### Updates (2026-02-06)\n- Added full_report to Supabase update\n- Fixed Calendly discovery links in all emails\n- Hot/Warm lead alerts now include real Calendly URL\n- Outbound CTA emails now link to atas-discovery-call",
        "height": 944,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        -320
      ],
      "id": "4612ea14-c6bb-48e7-ac68-10ae04f00828",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 5. Notify Team",
        "height": 944,
        "width": 784,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2288,
        -320
      ],
      "typeVersion": 1,
      "id": "4c52afd9-4536-4693-a3a9-9b0f9580b622",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}\n{{ $('New Lead').item.json.body.companyDomain }}\n{{ $('New Lead').item.json.body.interestSummary }}\n{{ $('New Lead').item.json.body.annualRevenue }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Lead Qualification Scoring System for AI Agency\n\n## Overview\n\nYou are a lead qualification specialist for an AI Agency. Score this lead based on their fit for our AI implementation services.\n\n## Scoring Criteria:\n\n1. **Revenue Requirement (0-30 points)**: Must be generating at least $50k/month. Award full points for $50k+/month, scale down proportionally for lower revenue, 0 points if under $25k/month\n\n2. **Business Maturity (0-25 points)**: Well-established business with proven track record, stable operations, professional team\n\n3. **AI Interest & Readiness (0-25 points)**: Based on the AI Interest Research findings - current AI adoption, interest signals, readiness to implement\n\n4. **Company Size & Structure (0-10 points)**: Team size, organizational complexity, decision-making capability\n\n5. **Industry Fit (0-10 points)**: Industries where AI implementation has high ROI and clear use cases\n\n## Provide:\n\n- Overall Lead Score (0-100)\n- Only output the single number, no notes or text.\n- IMPORTANT: Ensure the output format is number and NOT string\n\nBe data-driven and specific in your scoring.\n\n---"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1808,
        0
      ],
      "id": "b808c6ab-562d-4e99-b8aa-23aa3ece33e9",
      "name": "Lead Scoring Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.company }}\n{{ $json.body.linkedinUrl }}\n{{ $json.body.name }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# Lead Intelligence Report Generator for AI Agency Sales\n\n## Overview\n\nYou are an **expert lead intelligence analyst** specializing in **AI Agency sales and implementation readiness**.\n\nYour goal is to turn all provided data about a lead and their company into a **concise, highly actionable intelligence report** that helps an AI Agency close and implement successful projects.\n\n\n### 1. Research Tools & Mandatory Usage\n\n**Always use the Perplexity Research Tool & LinkedIn Perplexity** for external research. Use them specifically to:\n\n- Find **recent job postings** for the company to spot:\n  - Repetitive roles\n  - Manual, operational, or process-heavy work\n- Research the company's **tech stack & infrastructure**:\n  - Engineering stack (languages, frameworks, cloud providers, data tools)\n  - Internal tools (CRM, helpdesk, marketing, collaboration, etc.)\n- Find **company reviews** on Glassdoor or similar platforms:\n  - Extract pain points, operational issues, culture signals, and inefficiencies\n- Gather **competitor intelligence** and **AI adoption trends** in their industry\n- Research **industry-specific automation opportunities** and AI transformation trends\n- Identify any additional context on:\n  - Company **digital maturity**\n  - **Innovation initiatives**\n  - Public mentions of AI, automation, or data platforms\n\nAlways combine these findings with the **internal data sources** listed below.\n\n---\n\n### 2. Internal Data Sources to Use\n\nSystematically review and synthesize:\n\n1. **AI Interest Research**\n   - Signals of AI curiosity, experimentation, or previous conversations\n   - Use these as primary indicators of **AI readiness and engagement potential**\n\n2. **Clearbit (or similar firmographic data)**\n   - Industry, company size, revenue band, funding, HQ, regions\n   - Business model (B2B/B2C, SaaS, marketplace, agency, etc.)\n\n3. **Hunter (or similar email/enrichment tools)**\n   - Email patterns\n   - Key contacts, titles, seniority, and departments\n\n4. **LinkedIn Profile Data**\n   - Professional background for the main contact(s)\n   - Technical literacy, innovation orientation, and past AI/data experience\n\n5. **Recent News & Company Developments**\n   - Product launches, funding, leadership changes, layoffs/hiring surges\n   - Strategic directions that hint at digital or AI transformation\n\n6. **Lead Scoring & AI Interest Findings**\n   - Use any existing **Lead Scores**, **AI Interest Scores**, or similar metrics\n   - Integrate them directly into your **AI Readiness Assessment** and **Executive Summary**\n\n---\n\n### 3. Core Analytic Tasks\n\n#### 3.1 AI Readiness Assessment (Score 1-10)\n\nProvide an **AI Readiness Score (1-10)** and explain why, based on:\n\n- **Current tech stack sophistication**:\n  - From Perplexity research: cloud usage, data stack, modern tools, integrations\n- **Digital maturity indicators**:\n  - Online presence, product experience, automation hints, API ecosystem, etc.\n- **Technology adoption patterns**:\n  - Use of modern SaaS, AI tools, or developer-centric platforms\n- **Infrastructure readiness for AI integration**:\n  - Data availability, APIs, integrations, cloud infrastructure\n- **Team technical capabilities**:\n  - Presence of engineers, data teams, product ops, RevOps, etc.\n- **Existing Lead Scoring & AI Interest findings**:\n  - Explicitly incorporate and reference these in your justification\n\n#### 3.2 Automation & AI Opportunity Discovery\n\nIdentify and prioritize **automation opportunities**, using:\n\n- **Job postings analysis (via Perplexity)**:\n  - Repetitive tasks, high-volume roles, operational bottlenecks\n- **Company reviews (Glassdoor, etc.)**:\n  - Inefficiencies, slow processes, manual work, poor tooling\n- **Industry-standard automation patterns**:\n  - Common workflows automated in similar companies/industries\n- **Time horizon classification**:\n  - Quick wins vs. longer-term strategic implementations\n\n#### 3.3 AI Champions Identification\n\nHighlight **potential internal champions** who can drive AI projects:\n\n- Roles like: **CTO, CIO, CDO, Head of Data, Head of Product, Innovation Director, VP Operations, RevOps, Digital Transformation**\n- Tech-savvy leaders or early adopters with:\n  - AI / ML / data keywords in titles or descriptions\n  - History of working with automation, analytics, or digital transformation\n- For each champion, note:\n  - **Name, title, department**\n  - **Influence level** (High / Medium / Low)\n  - **Why they're a good AI champion**\n\n#### 3.4 Pain Point \u2192 AI Solution Mapping\n\nIdentify pain points from:\n\n- Company reviews (Perplexity + Glassdoor, etc.)\n- News articles and public statements\n- Job postings and role descriptions\n- Any provided internal notes or AI Interest Research\n\nFor each pain point, **map directly to AI Agency solutions**, e.g.:\n\n- Customer service overload \u2192 **AI chatbots / support automation**\n- Manual data entry, reporting, or reconciliation \u2192 **workflow automation / RPA-like flows**\n- Data analysis challenges \u2192 **AI analytics, forecasting, anomaly detection**\n- Content bottlenecks \u2192 **AI content generation / personalization**\n- Lead qualification & follow-up issues \u2192 **AI lead scoring, routing, and outreach automation**\n\nAlso generate **personalized pitch angles**:\n- \"Because you struggle with X, a Y-style AI automation could save Z time/cost per month.\"\n\n\n#### 3.5 Competitive AI Pressure Analysis\nUsing Perplexity, assess **urgency** and **competitive pressure**:\n\n- Competitors' AI adoption and automation stories in the news\n- Industry-level AI transformation trends\n- Signals of market disruption, consolidation, or innovation arms races\n- Risk of the lead **falling behind** in: \n    - Customer experience\n    - Operational efficiency\n   - Product differentiation\n\nProvide a  **Competitive AI Pressure Score (1-10)** with reasoning\n\n#### 3.6 Industry-Specific AI Use Case Matcher\n\nBased on the lead's **industry + company size**:\n\n- Suggest **3-5 concrete, realistic AI/automation use cases** tailored to their vertical\n- Match **implementation scope** to company size:\n  - Enterprise-style rollouts vs. **lightweight SMB/scale-up implementations**\n- Clearly flag **Quick-win use cases** that can show **ROI within ~90 days**\n\n---\n\n### 4. Required Report Structure (Markdown Output)\n\n- Use **clear, structured Markdown** with headings and bullets\n- Avoid fluff; keep insights actionable\n- Quantify whenever possible (scores, timelines, impact estimates)\n- Do **not** fabricate data \u2014 state \"Not found\" if needed\n- Reference **Lead Scores** and **AI Readiness findings** throughout the report\n- Your final answer must be a **structured Markdown report** using the following sections and bullets:\n\n#### **EXECUTIVE SUMMARY**\n\n- **Lead Score & Priority**\n- **Company Overview & Health Score (1-10)**\n- **AI Readiness Score (1-10)**\n- **Recommended Implementation Timeline**\n- **Engagement Priority Level**\n\n#### **KEY STAKEHOLDERS**\n\n- **Key Decision Makers**\n- **Identified AI Champions**\n- **Recommended Primary Contacts**\n\n#### **COMPANY INTELLIGENCE**\n\n-**Recent Company News & Developments**\n- **Industry Position & Competitive Landscape**\n- **Technology Stack & Digital Maturity**\n- **Company Culture & Innovation Indicators**\n- **AI Interest Signals**\n\n#### **USE CASE RECOMMENDATIONS**\n-**Industry-Specific AI Solutions (3-5)**\n-**Quick Wins (90-Day ROI)**\n-**Implementation Scope**\n-**Vertical-Specific Use Cases**\n\n#### **PAIN POINT ANALYSIS**\n-**Identified Pain Points**\n-**Mapped AI Solutions**\n-**Personalized Pitch Angles**\n\n#### **AI OPPORTUNITY ANALYSIS**\n- **Competitive AI Pressure & Urgency (1-10)**\n- **Prioritized Automation Opportunities**\n- **Pain Points \u2192 Solutions Matrix**\n- **Estimated ROI & Timeframes**\n---\n\n#### **ENGAGEMENT STRATEGY**\n\n- **Recommended Approach**\n- **Key Value Propositions to Emphasize**\n- **Potential Objections & Responses**\n- **Quick Wins to Lead With**\n- **Suggested Meeting Agenda**\n\n\n####. **RISK FACTORS & CONSIDERATIONS**\n- **Budget Constraints Indicators**\n- **Change Resistance Signals**\n- **Technical Limitations or Data Gaps**\n- **Competitive Threat or Timing Risks**\n\n\nUse all available data plus Perplexity research to produce a **single, self-contained intelligence report** optimized for AI Agency sales and implementation readiness."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        368,
        0
      ],
      "id": "d54b0b61-cb5a-4768-bc2c-29406fbe46d9",
      "name": "Research Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b4bc3f71-8d92-4441-8f31-01118b85a610",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        0
      ],
      "id": "52673def-db13-4ecb-8bca-250ff734c8c1",
      "name": "New Lead",
      "webhookId": "b4bc3f71-8d92-4441-8f31-01118b85a610"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Lead Scoring Agent').item.json.output.leadScore }}",
                    "rightValue": 70,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "a7f64278-449f-41a1-8f1c-e1f6c62cb334"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "={{ true }}",
              "outputKey": "Hot Lead (70-100)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7d54f4b7-60f3-49fe-81bb-e5ea201a3527",
                    "leftValue": "={{ $('Lead Scoring Agent').item.json.output.leadScore }}",
                    "rightValue": 40,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  },
                  {
                    "id": "warm-upper-bound",
                    "leftValue": "={{ $('Lead Scoring Agent').item.json.output.leadScore }}",
                    "rightValue": 70,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Warm Lead (40-69)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d0062149-b498-46c2-aae5-9477fcfd7c94",
                    "leftValue": "={{ $('Lead Scoring Agent').item.json.output.leadScore }}",
                    "rightValue": 40,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cold Lead "
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2640,
        -16
      ],
      "id": "083c0b3f-96f0-4136-9683-2b0107f50bb8",
      "name": "Route by Score"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        320,
        208
      ],
      "id": "ce525871-4e36-4afe-bccc-8e43a63fa0dc",
      "name": "Brain 1",
      "credentials": {
        "openAiApi": {
          "id": "haff2yaNOap4beBJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Message a model in Perplexity",
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}",
              "role": "system"
            },
            {
              "content": "=Company Domain: {{ $json.body.companyDomain }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        448,
        224
      ],
      "id": "1265ef33-2055-4dd2-8298-74412b2c852a",
      "name": "Perplexity Research Tool",
      "credentials": {
        "perplexityApi": {
          "id": "9Wf5Ouh1TufC6YIo",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Message a model in Perplexity",
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}",
              "role": "system"
            },
            {
              "content": "=LinkedIn URL: {{ $json.body.linkedinUrl }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        592,
        224
      ],
      "id": "6d9afbd1-b191-4b79-acf9-38265426e681",
      "name": "Perplexity for LinkedIn Research",
      "credentials": {
        "perplexityApi": {
          "id": "9Wf5Ouh1TufC6YIo",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contact_submissions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('New Lead').item.json.body.submissionId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $('New Lead').item.json.body.submittedAt }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('New Lead').item.json.body.email }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('New Lead').item.json.body.name }}"
            },
            {
              "fieldId": "is_decision_maker",
              "fieldValue": "={{ $('New Lead').item.json.body.isDecisionMaker }}"
            },
            {
              "fieldId": "company",
              "fieldValue": "={{ $('New Lead').item.json.body.company }}"
            },
            {
              "fieldId": "annual_revenue",
              "fieldValue": "={{ $('New Lead').item.json.body.annualRevenue }}"
            },
            {
              "fieldId": "interest_summary",
              "fieldValue": "={{ $('New Lead').item.json.body.interestSummary }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $('New Lead').item.json.body.message }}"
            },
            {
              "fieldId": "potential_recommendations_summary",
              "fieldValue": "={{ $json.output.potentialCompanySolutions }}"
            },
            {
              "fieldId": "ai_readiness_score",
              "fieldValue": "={{ $json.output.aiReadinessScore }}"
            },
            {
              "fieldId": "competitive_pressure_score",
              "fieldValue": "={{ $json.output.competitivePressureScore }}"
            },
            {
              "fieldId": "quick_wins",
              "fieldValue": "={{ $json.output.quickWins }}"
            },
            {
              "fieldId": "lead_score",
              "fieldValue": "={{ $json.output.leadScore }}"
            },
            {
              "fieldId": "full_report",
              "fieldValue": "={{ $('Research Agent').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2448,
        0
      ],
      "id": "763983a8-9879-4b7b-9b73-d69bddb509a2",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "Njc6sBrCIye9J3ZK",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a data extraction specialist. \n\nGiven the following Lead Intelligence Report, extract ONLY these fields into a JSON object:\n\nREPORT:\n{{ $('Research Agent').item.json.output }}\n\nExtract and output ONLY this JSON structure (no other text):\n{\n  \"aiReadinessScore\": <number 1-10, extract from report>,\n  \"competitivePressureScore\": <number 1-10, extract from report>,\n  \"potentialCompanySolutions\": \"<brief summary of recommended AI solutions>\",\n  \"quickWins\": \"<90-day quick win opportunities>\",\n  \"keyStakeholders\": \"<names and titles of identified AI champions>\",\n  \"engagementPriority\": \"<High/Medium/Low from Executive Summary>\",\n  \"leadScore\": <number 0-100, derive from AI Readiness + Competitive Pressure>\n}\n\nRules:\n- Output ONLY valid JSON, no markdown, no explanation\n- If a field is not found in the report, use null\n- Keep string values concise (under 500 characters each)",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1104,
        0
      ],
      "id": "f8a72e82-52ad-44b0-b2e6-eb40f0fbb2e4",
      "name": "Data Extraction Agent"
    },
    {
      "parameters": {
        "content": "## 3. Data Extractor Agent",
        "height": 944,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        816,
        -320
      ],
      "id": "8269e96d-e2d2-456c-b0bd-e650696881c7",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1856,
        288
      ],
      "id": "3df3b6d2-12e1-4b60-bc11-1b053af6e91c",
      "name": "Convert tool"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1712,
        208
      ],
      "id": "36e14540-e689-4876-94d3-a95cc160b6f1",
      "name": "Brain3",
      "credentials": {
        "openAiApi": {
          "id": "haff2yaNOap4beBJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1088,
        176
      ],
      "id": "b75afdc1-47cd-4029-8373-f1358462b82a",
      "name": "Brain2",
      "credentials": {
        "openAiApi": {
          "id": "haff2yaNOap4beBJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"aiReadinessScore\": 3,\n  \"competitivePressureScore\": 5,\n  \"potentialCompanySolutions\": \"AI-powered solutions description\",\n  \"quickWins\": \"Quick win opportunities\",\n  \"keyStakeholders\": \"Names and titles\",\n  \"engagementPriority\": \"Medium\",\n  \"leadScore\": 8\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1968,
        288
      ],
      "id": "57e981c9-881a-4f85-8449-9a77b909fcab",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1968,
        432
      ],
      "id": "7c9dec3b-d4a5-4497-8fe5-20b7178bcd68",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "haff2yaNOap4beBJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "trigger-outreach-hot",
      "name": "Trigger Outreach Gen (Hot)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2848,
        -128
      ],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.amadutown.com/webhook/clg-outreach-gen",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contact_id: $json.contact_id || $json.id, score_tier: 'hot', lead_score: $json.lead_score }) }}",
        "options": {}
      }
    },
    {
      "id": "trigger-outreach-warm",
      "name": "Trigger Outreach Gen (Warm)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2848,
        64
      ],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.amadutown.com/webhook/clg-outreach-gen",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contact_id: $json.contact_id || $json.id, score_tier: 'warm', lead_score: $json.lead_score }) }}",
        "options": {}
      }
    },
    {
      "id": "set-cold-status-new",
      "name": "Set Cold Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2848,
        256
      ],
      "parameters": {
        "operation": "update",
        "tableId": "contact_submissions",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('New Lead').item.json.body.submissionId }}"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "qualification_status",
              "fieldValue": "cold"
            },
            {
              "fieldId": "outreach_status",
              "fieldValue": "no_response"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Lead Scoring Agent": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "main": [
        [
          {
            "node": "Data Extraction Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Lead": {
      "main": [
        [
          {
            "node": "Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brain 1": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Research Tool": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity for LinkedIn Research": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Route by Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Extraction Agent": {
      "main": [
        [
          {
            "node": "Lead Scoring Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert tool": {
      "ai_tool": [
        [
          {
            "node": "Lead Scoring Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Brain3": {
      "ai_languageModel": [
        [
          {
            "node": "Lead Scoring Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Brain2": {
      "ai_languageModel": [
        [
          {
            "node": "Data Extraction Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Lead Scoring Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Route by Score": {
      "main": [
        [
          {
            "node": "Trigger Outreach Gen (Hot)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trigger Outreach Gen (Warm)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Cold Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ebfc3800-ff97-480c-a6e9-21b77a171e6e",
  "activeVersionId": "ebfc3800-ff97-480c-a6e9-21b77a171e6e",
  "versionCounter": 104,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-24T16:08:37.848Z",
      "createdAt": "2026-01-24T16:08:37.848Z",
      "role": "workflow:owner",
      "workflowId": "LZn83NWY2FIgABUl",
      "projectId": "TeIheDYiQkebiIvt",
      "project": {
        "updatedAt": "2025-12-13T01:11:01.102Z",
        "createdAt": "2025-12-13T01:09:43.703Z",
        "id": "TeIheDYiQkebiIvt",
        "name": "Vambah Sillah <vsillah@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "40690b8a-67b7-469e-b617-699a163b2224",
        "projectRelations": [
          {
            "updatedAt": "2025-12-13T01:09:43.704Z",
            "createdAt": "2025-12-13T01:09:43.704Z",
            "userId": "40690b8a-67b7-469e-b617-699a163b2224",
            "projectId": "TeIheDYiQkebiIvt",
            "user": {
              "updatedAt": "2026-02-10T11:23:32.000Z",
              "createdAt": "2025-12-13T01:09:43.182Z",
              "id": "40690b8a-67b7-469e-b617-699a163b2224",
              "email": "vsillah@gmail.com",
              "firstName": "Vambah",
              "lastName": "Sillah",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-13T01:11:28.944Z",
                "personalization_survey_n8n_version": "1.123.5",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "nWF9u3cNrB7BRtb5",
                "userActivatedAt": 1766783175251,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770330867466
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-10T18:41:59.254Z",
    "createdAt": "2026-02-10T18:41:59.254Z",
    "versionId": "ebfc3800-ff97-480c-a6e9-21b77a171e6e",
    "workflowId": "LZn83NWY2FIgABUl",
    "nodes": [
      {
        "parameters": {
          "content": "## 4. Lead Scoring Agent",
          "height": 944,
          "width": 752,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1520,
          -320
        ],
        "id": "871d3678-8eb5-4aef-8be6-35fd5ff87a54",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## 2. Lead & Company Research Agent",
          "height": 944,
          "width": 752,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          48,
          -320
        ],
        "id": "9dc355bc-fee3-43eb-82a1-e8d79e252507",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## 1. New Lead\n\n### Updates (2026-02-06)\n- Added full_report to Supabase update\n- Fixed Calendly discovery links in all emails\n- Hot/Warm lead alerts now include real Calendly URL\n- Outbound CTA emails now link to atas-discovery-call",
          "height": 944,
          "width": 432
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -400,
          -320
        ],
        "id": "4612ea14-c6bb-48e7-ac68-10ae04f00828",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## 5. Notify Team",
          "height": 944,
          "width": 784,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2288,
          -320
        ],
        "typeVersion": 1,
        "id": "4c52afd9-4536-4693-a3a9-9b0f9580b622",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.output }}\n{{ $('New Lead').item.json.body.companyDomain }}\n{{ $('New Lead').item.json.body.interestSummary }}\n{{ $('New Lead').item.json.body.annualRevenue }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "Lead Qualification Scoring System for AI Agency\n\n## Overview\n\nYou are a lead qualification specialist for an AI Agency. Score this lead based on their fit for our AI implementation services.\n\n## Scoring Criteria:\n\n1. **Revenue Requirement (0-30 points)**: Must be generating at least $50k/month. Award full points for $50k+/month, scale down proportionally for lower revenue, 0 points if under $25k/month\n\n2. **Business Maturity (0-25 points)**: Well-established business with proven track record, stable operations, professional team\n\n3. **AI Interest & Readiness (0-25 points)**: Based on the AI Interest Research findings - current AI adoption, interest signals, readiness to implement\n\n4. **Company Size & Structure (0-10 points)**: Team size, organizational complexity, decision-making capability\n\n5. **Industry Fit (0-10 points)**: Industries where AI implementation has high ROI and clear use cases\n\n## Provide:\n\n- Overall Lead Score (0-100)\n- Only output the single number, no notes or text.\n- IMPORTANT: Ensure the output format is number and NOT string\n\nBe data-driven and specific in your scoring.\n\n---"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          1808,
          0
        ],
        "id": "b808c6ab-562d-4e99-b8aa-23aa3ece33e9",
        "name": "Lead Scoring Agent"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.body.company }}\n{{ $json.body.linkedinUrl }}\n{{ $json.body.name }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "# Lead Intelligence Report Generator for AI Agency Sales\n\n## Overview\n\nYou are an **expert lead intelligence analyst** specializing in **AI Agency sales and implementation readiness**.\n\nYour goal is to turn all provided data about a lead and their company into a **concise, highly actionable intelligence report** that helps an AI Agency close and implement successful projects.\n\n\n### 1. Research Tools & Mandatory Usage\n\n**Always use the Perplexity Research Tool & LinkedIn Perplexity** for external research. Use them specifically to:\n\n- Find **recent job postings** for the company to spot:\n  - Repetitive roles\n  - Manual, operational, or process-heavy work\n- Research the company's **tech stack & infrastructure**:\n  - Engineering stack (languages, frameworks, cloud providers, data tools)\n  - Internal tools (CRM, helpdesk, marketing, collaboration, etc.)\n- Find **company reviews** on Glassdoor or similar platforms:\n  - Extract pain points, operational issues, culture signals, and inefficiencies\n- Gather **competitor intelligence** and **AI adoption trends** in their industry\n- Research **industry-specific automation opportunities** and AI transformation trends\n- Identify any additional context on:\n  - Company **digital maturity**\n  - **Innovation initiatives**\n  - Public mentions of AI, automation, or data platforms\n\nAlways combine these findings with the **internal data sources** listed below.\n\n---\n\n### 2. Internal Data Sources to Use\n\nSystematically review and synthesize:\n\n1. **AI Interest Research**\n   - Signals of AI curiosity, experimentation, or previous conversations\n   - Use these as primary indicators of **AI readiness and engagement potential**\n\n2. **Clearbit (or similar firmographic data)**\n   - Industry, company size, revenue band, funding, HQ, regions\n   - Business model (B2B/B2C, SaaS, marketplace, agency, etc.)\n\n3. **Hunter (or similar email/enrichment tools)**\n   - Email patterns\n   - Key contacts, titles, seniority, and departments\n\n4. **LinkedIn Profile Data**\n   - Professional background for the main contact(s)\n   - Technical literacy, innovation orientation, and past AI/data experience\n\n5. **Recent News & Company Developments**\n   - Product launches, funding, leadership changes, layoffs/hiring surges\n   - Strategic directions that hint at digital or AI transformation\n\n6. **Lead Scoring & AI Interest Findings**\n   - Use any existing **Lead Scores**, **AI Interest Scores**, or similar metrics\n   - Integrate them directly into your **AI Readiness Assessment** and **Executive Summary**\n\n---\n\n### 3. Core Analytic Tasks\n\n#### 3.1 AI Readiness Assessment (Score 1-10)\n\nProvide an **AI Readiness Score (1-10)** and explain why, based on:\n\n- **Current tech stack sophistication**:\n  - From Perplexity research: cloud usage, data stack, modern tools, integrations\n- **Digital maturity indicators**:\n  - Online presence, product experience, automation hints, API ecosystem, etc.\n- **Technology adoption patterns**:\n  - Use of modern SaaS, AI tools, or developer-centric platforms\n- **Infrastructure readiness for AI integration**:\n  - Data availability, APIs, integrations, cloud infrastructure\n- **Team technical capabilities**:\n  - Presence of engineers, data teams, product ops, RevOps, etc.\n- **Existing Lead Scoring & AI Interest findings**:\n  - Explicitly incorporate and reference these in your justification\n\n#### 3.2 Automation & AI Opportunity Discovery\n\nIdentify and prioritize **automation opportunities**, using:\n\n- **Job postings analysis (via Perplexity)**:\n  - Repetitive tasks, high-volume roles, operational bottlenecks\n- **Company reviews (Glassdoor, etc.)**:\n  - Inefficiencies, slow processes, manual work, poor tooling\n- **Industry-standard automation patterns**:\n  - Common workflows automated in similar companies/industries\n- **Time horizon classification**:\n  - Quick wins vs. longer-term strategic implementations\n\n#### 3.3 AI Champions Identification\n\nHighlight **potential internal champions** who can drive AI projects:\n\n- Roles like: **CTO, CIO, CDO, Head of Data, Head of Product, Innovation Director, VP Operations, RevOps, Digital Transformation**\n- Tech-savvy leaders or early adopters with:\n  - AI / ML / data keywords in titles or descriptions\n  - History of working with automation, analytics, or digital transformation\n- For each champion, note:\n  - **Name, title, department**\n  - **Influence level** (High / Medium / Low)\n  - **Why they're a good AI champion**\n\n#### 3.4 Pain Point \u2192 AI Solution Mapping\n\nIdentify pain points from:\n\n- Company reviews (Perplexity + Glassdoor, etc.)\n- News articles and public statements\n- Job postings and role descriptions\n- Any provided internal notes or AI Interest Research\n\nFor each pain point, **map directly to AI Agency solutions**, e.g.:\n\n- Customer service overload \u2192 **AI chatbots / support automation**\n- Manual data entry, reporting, or reconciliation \u2192 **workflow automation / RPA-like flows**\n- Data analysis challenges \u2192 **AI analytics, forecasting, anomaly detection**\n- Content bottlenecks \u2192 **AI content generation / personalization**\n- Lead qualification & follow-up issues \u2192 **AI lead scoring, routing, and outreach automation**\n\nAlso generate **personalized pitch angles**:\n- \"Because you struggle with X, a Y-style AI automation could save Z time/cost per month.\"\n\n\n#### 3.5 Competitive AI Pressure Analysis\nUsing Perplexity, assess **urgency** and **competitive pressure**:\n\n- Competitors' AI adoption and automation stories in the news\n- Industry-level AI transformation trends\n- Signals of market disruption, consolidation, or innovation arms races\n- Risk of the lead **falling behind** in: \n    - Customer experience\n    - Operational efficiency\n   - Product differentiation\n\nProvide a  **Competitive AI Pressure Score (1-10)** with reasoning\n\n#### 3.6 Industry-Specific AI Use Case Matcher\n\nBased on the lead's **industry + company size**:\n\n- Suggest **3-5 concrete, realistic AI/automation use cases** tailored to their vertical\n- Match **implementation scope** to company size:\n  - Enterprise-style rollouts vs. **lightweight SMB/scale-up implementations**\n- Clearly flag **Quick-win use cases** that can show **ROI within ~90 days**\n\n---\n\n### 4. Required Report Structure (Markdown Output)\n\n- Use **clear, structured Markdown** with headings and bullets\n- Avoid fluff; keep insights actionable\n- Quantify whenever possible (scores, timelines, impact estimates)\n- Do **not** fabricate data \u2014 state \"Not found\" if needed\n- Reference **Lead Scores** and **AI Readiness findings** throughout the report\n- Your final answer must be a **structured Markdown report** using the following sections and bullets:\n\n#### **EXECUTIVE SUMMARY**\n\n- **Lead Score & Priority**\n- **Company Overview & Health Score (1-10)**\n- **AI Readiness Score (1-10)**\n- **Recommended Implementation Timeline**\n- **Engagement Priority Level**\n\n#### **KEY STAKEHOLDERS**\n\n- **Key Decision Makers**\n- **Identified AI Champions**\n- **Recommended Primary Contacts**\n\n#### **COMPANY INTELLIGENCE**\n\n-**Recent Company News & Developments**\n- **Industry Position & Competitive Landscape**\n- **Technology Stack & Digital Maturity**\n- **Company Culture & Innovation Indicators**\n- **AI Interest Signals**\n\n#### **USE CASE RECOMMENDATIONS**\n-**Industry-Specific AI Solutions (3-5)**\n-**Quick Wins (90-Day ROI)**\n-**Implementation Scope**\n-**Vertical-Specific Use Cases**\n\n#### **PAIN POINT ANALYSIS**\n-**Identified Pain Points**\n-**Mapped AI Solutions**\n-**Personalized Pitch Angles**\n\n#### **AI OPPORTUNITY ANALYSIS**\n- **Competitive AI Pressure & Urgency (1-10)**\n- **Prioritized Automation Opportunities**\n- **Pain Points \u2192 Solutions Matrix**\n- **Estimated ROI & Timeframes**\n---\n\n#### **ENGAGEMENT STRATEGY**\n\n- **Recommended Approach**\n- **Key Value Propositions to Emphasize**\n- **Potential Objections & Responses**\n- **Quick Wins to Lead With**\n- **Suggested Meeting Agenda**\n\n\n####. **RISK FACTORS & CONSIDERATIONS**\n- **Budget Constraints Indicators**\n- **Change Resistance Signals**\n- **Technical Limitations or Data Gaps**\n- **Competitive Threat or Timing Risks**\n\n\nUse all available data plus Perplexity research to produce a **single, self-contained intelligence report** optimized for AI Agency sales and implementation readiness."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          368,
          0
        ],
        "id": "d54b0b61-cb5a-4768-bc2c-29406fbe46d9",
        "name": "Research Agent"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "b4bc3f71-8d92-4441-8f31-01118b85a610",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -240,
          0
        ],
        "id": "52673def-db13-4ecb-8bca-250ff734c8c1",
        "name": "New Lead",
        "webhookId": "b4bc3f71-8d92-4441-8f31-01118b85a610"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Lead Scoring Agent').item.json.output.leadScore }}",
                      "rightValue": 70,
                      "operator": {
                        "type": "number",
                        "operation": "gte"
                      },
                      "id": "a7f64278-449f-41a1-8f1c-e1f6c62cb334"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": "={{ true }}",
                "outputKey": "Hot Lead (70-100)"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "7d54f4b7-60f3-49fe-81bb-e5ea201a3527",
                      "leftValue": "={{ $('Lead Scoring Agent').item.json.output.leadScore }}",
                      "rightValue": 40,
                      "operator": {
                        "type": "number",
                        "operation": "gte"
                      }
                    },
                    {
                      "id": "warm-upper-bound",
                      "leftValue": "={{ $('Lead Scoring Agent').item.json.output.leadScore }}",
                      "rightValue": 70,
                      "operator": {
                        "type": "number",
                        "operation": "lt"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Warm Lead (40-69)"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "d0062149-b498-46c2-aae5-9477fcfd7c94",
                      "leftValue": "={{ $('Lead Scoring Agent').item.json.output.leadScore }}",
                      "rightValue": 40,
                      "operator": {
                        "type": "number",
                        "operation": "lt"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Cold Lead "
              }
            ]
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          2640,
          -16
        ],
        "id": "083c0b3f-96f0-4136-9683-2b0107f50bb8",
        "name": "Route by Score"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          320,
          208
        ],
        "id": "ce525871-4e36-4afe-bccc-8e43a63fa0dc",
        "name": "Brain 1",
        "credentials": {
          "openAiApi": {
            "id": "haff2yaNOap4beBJ",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Message a model in Perplexity",
          "messages": {
            "message": [
              {
                "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}",
                "role": "system"
              },
              {
                "content": "=Company Domain: {{ $json.body.companyDomain }}"
              }
            ]
          },
          "options": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.perplexityTool",
        "typeVersion": 1,
        "position": [
          448,
          224
        ],
        "id": "1265ef33-2055-4dd2-8298-74412b2c852a",
        "name": "Perplexity Research Tool",
        "credentials": {
          "perplexityApi": {
            "id": "9Wf5Ouh1TufC6YIo",
            "name": "Perplexity account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Message a model in Perplexity",
          "messages": {
            "message": [
              {
                "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}",
                "role": "system"
              },
              {
                "content": "=LinkedIn URL: {{ $json.body.linkedinUrl }}"
              }
            ]
          },
          "options": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.perplexityTool",
        "typeVersion": 1,
        "position": [
          592,
          224
        ],
        "id": "6d9afbd1-b191-4b79-acf9-38265426e681",
        "name": "Perplexity for LinkedIn Research",
        "credentials": {
          "perplexityApi": {
            "id": "9Wf5Ouh1TufC6YIo",
            "name": "Perplexity account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "contact_submissions",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('New Lead').item.json.body.submissionId }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "created_at",
                "fieldValue": "={{ $('New Lead').item.json.body.submittedAt }}"
              },
              {
                "fieldId": "email",
                "fieldValue": "={{ $('New Lead').item.json.body.email }}"
              },
              {
                "fieldId": "name",
                "fieldValue": "={{ $('New Lead').item.json.body.name }}"
              },
              {
                "fieldId": "is_decision_maker",
                "fieldValue": "={{ $('New Lead').item.json.body.isDecisionMaker }}"
              },
              {
                "fieldId": "company",
                "fieldValue": "={{ $('New Lead').item.json.body.company }}"
              },
              {
                "fieldId": "annual_revenue",
                "fieldValue": "={{ $('New Lead').item.json.body.annualRevenue }}"
              },
              {
                "fieldId": "interest_summary",
                "fieldValue": "={{ $('New Lead').item.json.body.interestSummary }}"
              },
              {
                "fieldId": "message",
                "fieldValue": "={{ $('New Lead').item.json.body.message }}"
              },
              {
                "fieldId": "potential_recommendations_summary",
                "fieldValue": "={{ $json.output.potentialCompanySolutions }}"
              },
              {
                "fieldId": "ai_readiness_score",
                "fieldValue": "={{ $json.output.aiReadinessScore }}"
              },
              {
                "fieldId": "competitive_pressure_score",
                "fieldValue": "={{ $json.output.competitivePressureScore }}"
              },
              {
                "fieldId": "quick_wins",
                "fieldValue": "={{ $json.output.quickWins }}"
              },
              {
                "fieldId": "lead_score",
                "fieldValue": "={{ $json.output.leadScore }}"
              },
              {
                "fieldId": "full_report",
                "fieldValue": "={{ $('Research Agent').item.json.output }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2448,
          0
        ],
        "id": "763983a8-9879-4b7b-9b73-d69bddb509a2",
        "name": "Update a row",
        "credentials": {
          "supabaseApi": {
            "id": "Njc6sBrCIye9J3ZK",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are a data extraction specialist. \n\nGiven the following Lead Intelligence Report, extract ONLY these fields into a JSON object:\n\nREPORT:\n{{ $('Research Agent').item.json.output }}\n\nExtract and output ONLY this JSON structure (no other text):\n{\n  \"aiReadinessScore\": <number 1-10, extract from report>,\n  \"competitivePressureScore\": <number 1-10, extract from report>,\n  \"potentialCompanySolutions\": \"<brief summary of recommended AI solutions>\",\n  \"quickWins\": \"<90-day quick win opportunities>\",\n  \"keyStakeholders\": \"<names and titles of identified AI champions>\",\n  \"engagementPriority\": \"<High/Medium/Low from Executive Summary>\",\n  \"leadScore\": <number 0-100, derive from AI Readiness + Competitive Pressure>\n}\n\nRules:\n- Output ONLY valid JSON, no markdown, no explanation\n- If a field is not found in the report, use null\n- Keep string values concise (under 500 characters each)",
          "hasOutputParser": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          1104,
          0
        ],
        "id": "f8a72e82-52ad-44b0-b2e6-eb40f0fbb2e4",
        "name": "Data Extraction Agent"
      },
      {
        "parameters": {
          "content": "## 3. Data Extractor Agent",
          "height": 944,
          "width": 688
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          816,
          -320
        ],
        "id": "8269e96d-e2d2-456c-b0bd-e650696881c7",
        "name": "Sticky Note4"
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1.3,
        "position": [
          1856,
          288
        ],
        "id": "3df3b6d2-12e1-4b60-bc11-1b053af6e91c",
        "name": "Convert tool"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          1712,
          208
        ],
        "id": "36e14540-e689-4876-94d3-a95cc160b6f1",
        "name": "Brain3",
        "credentials": {
          "openAiApi": {
            "id": "haff2yaNOap4beBJ",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "gpt-4o-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          1088,
          176
        ],
        "id": "b75afdc1-47cd-4029-8373-f1358462b82a",
        "name": "Brain2",
        "credentials": {
          "openAiApi": {
            "id": "haff2yaNOap4beBJ",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"aiReadinessScore\": 3,\n  \"competitivePressureScore\": 5,\n  \"potentialCompanySolutions\": \"AI-powered solutions description\",\n  \"quickWins\": \"Quick win opportunities\",\n  \"keyStakeholders\": \"Names and titles\",\n  \"engagementPriority\": \"Medium\",\n  \"leadScore\": 8\n}",
          "autoFix": true
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          1968,
          288
        ],
        "id": "57e981c9-881a-4f85-8449-9a77b909fcab",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "gpt-4o-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          1968,
          432
        ],
        "id": "7c9dec3b-d4a5-4497-8fe5-20b7178bcd68",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "haff2yaNOap4beBJ",
            "name": "OpenAi account"
          }
        }
      },
      {
        "id": "trigger-outreach-hot",
        "name": "Trigger Outreach Gen (Hot)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2848,
          -128
        ],
        "parameters": {
          "method": "POST",
          "url": "https://n8n.amadutown.com/webhook/clg-outreach-gen",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ contact_id: $json.contact_id || $json.id, score_tier: 'hot', lead_score: $json.lead_score }) }}",
          "options": {}
        }
      },
      {
        "id": "trigger-outreach-warm",
        "name": "Trigger Outreach Gen (Warm)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2848,
          64
        ],
        "parameters": {
          "method": "POST",
          "url": "https://n8n.amadutown.com/webhook/clg-outreach-gen",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ contact_id: $json.contact_id || $json.id, score_tier: 'warm', lead_score: $json.lead_score }) }}",
          "options": {}
        }
      },
      {
        "id": "set-cold-status-new",
        "name": "Set Cold Status",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2848,
          256
        ],
        "parameters": {
          "operation": "update",
          "tableId": "contact_submissions",
          "filterType": "manual",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('New Lead').item.json.body.submissionId }}"
              }
            ]
          },
          "dataToSend": "defineBelow",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "qualification_status",
                "fieldValue": "cold"
              },
              {
                "fieldId": "outreach_status",
                "fieldValue": "no_response"
              }
            ]
          }
        }
      }
    ],
    "connections": {
      "Lead Scoring Agent": {
        "main": [
          [
            {
              "node": "Update a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Research Agent": {
        "main": [
          [
            {
              "node": "Data Extraction Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "New Lead": {
        "main": [
          [
            {
              "node": "Research Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Brain 1": {
        "ai_languageModel": [
          [
            {
              "node": "Research Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Perplexity Research Tool": {
        "ai_tool": [
          [
            {
              "node": "Research Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Perplexity for LinkedIn Research": {
        "ai_tool": [
          [
            {
              "node": "Research Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Update a row": {
        "main": [
          [
            {
              "node": "Route by Score",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Data Extraction Agent": {
        "main": [
          [
            {
              "node": "Lead Scoring Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert tool": {
        "ai_tool": [
          [
            {
              "node": "Lead Scoring Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Brain3": {
        "ai_languageModel": [
          [
            {
              "node": "Lead Scoring Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Brain2": {
        "ai_languageModel": [
          [
            {
              "node": "Data Extraction Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Lead Scoring Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Structured Output Parser",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Route by Score": {
        "main": [
          [
            {
              "node": "Trigger Outreach Gen (Hot)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Trigger Outreach Gen (Warm)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set Cold Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Vambah Sillah",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-10T18:41:59.316Z",
        "id": 292,
        "workflowId": "LZn83NWY2FIgABUl",
        "versionId": "ebfc3800-ff97-480c-a6e9-21b77a171e6e",
        "event": "activated",
        "userId": "40690b8a-67b7-469e-b617-699a163b2224"
      }
    ]
  }
}