n8n-exports/WF-MON-001-Apify-Actor-Health-Monitor.json
{
  "updatedAt": "2026-02-11T19:54:07.313Z",
  "createdAt": "2026-02-11T18:27:27.874Z",
  "id": "avKezuhdSF5DKqh8",
  "name": "WF-MON-001: Apify Actor Health Monitor",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        112,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const APIFY_TOKEN = 'REPLACE_WITH_APIFY_TOKEN_OR_ENV';\nconst ACTORS = [\n  { id: 'alien_force~facebook-scraper-pro', name: 'Facebook Scraper Pro', source: 'facebook' },\n  { id: 'harvestapi~linkedin-profile-search', name: 'LinkedIn Profile Search', source: 'linkedin' },\n];\nconst results = [];\nfor (const actor of ACTORS) {\n  try {\n    const url = `https://api.apify.com/v2/acts/${actor.id}/runs?token=${APIFY_TOKEN}&limit=10&desc=true`;\n    const resp = await fetch(url);\n    const data = await resp.json();\n    const runs = data.data?.items || [];\n    if (runs.length === 0) { results.push({ ...actor, status: 'no_runs', failedRuns: 0, totalRuns: 0, lastError: 'No recent runs found', severity: 'warning' }); continue; }\n    const failedRuns = runs.filter(r => r.status === 'FAILED' || r.status === 'TIMED-OUT' || r.status === 'ABORTED').length;\n    const succeededRuns = runs.filter(r => r.status === 'SUCCEEDED').length;\n    const totalRuns = runs.length;\n    const failRate = failedRuns / totalRuns;\n    const lastFailed = runs.find(r => r.status === 'FAILED' || r.status === 'TIMED-OUT');\n    const lastError = lastFailed ? `${lastFailed.status} at ${lastFailed.finishedAt || lastFailed.startedAt}` : 'N/A';\n    let severity = 'ok';\n    if (failRate >= 0.8) severity = 'critical';\n    else if (failRate >= 0.5) severity = 'warning';\n    results.push({ actor: actor.id, actorName: actor.name, source: actor.source, status: severity === 'ok' ? 'healthy' : 'failing', failedRuns, succeededRuns, totalRuns, failRate: Math.round(failRate * 100) + '%', lastError, severity });\n  } catch (err) { results.push({ ...actor, status: 'check_failed', failedRuns: 0, totalRuns: 0, lastError: String(err), severity: 'warning' }); }\n}\nconst alerts = results.filter(r => r.severity === 'warning' || r.severity === 'critical');\nreturn [{ json: { results, alerts, hasAlerts: alerts.length > 0, checkedAt: new Date().toISOString() } }];"
      },
      "id": "check-actors",
      "name": "Check Actor Runs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "alert-check",
              "leftValue": "={{ $json.hasAlerts }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "has-alerts",
      "name": "Has Alerts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        608,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://portfolio-mu-henna-um1fv2dw8q.vercel.app/api/admin/outreach/actor-alert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer QeN22JCeKUfIPbVAgUIm08GWKPttK2QG/NtKRLGMqS4="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ alerts: $json.alerts }) }}",
        "options": {}
      },
      "id": "send-alert",
      "name": "Send Alert to App",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        208
      ]
    },
    {
      "parameters": {},
      "id": "no-alerts",
      "name": "All Healthy",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        864,
        400
      ]
    },
    {
      "parameters": {
        "content": "## WF-MON-001: Apify Actor Health Monitor\n\n**Schedule:** Every 6 hours\n\n**Monitors:**\n- alien_force/facebook-scraper-pro (WF-WRM-001)\n- harvestapi/linkedin-profile-search (WF-WRM-003)\n\n**Logic:**\n1. Check last 10 runs for each actor via Apify API\n2. If >50% failure rate -> warning\n3. If >80% failure rate -> critical\n4. POST alerts to /api/admin/outreach/actor-alert\n\n**Created:** 2026-02-11"
      },
      "id": "sticky-info",
      "name": "WF-MON-001 Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Check Actor Runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Actor Runs": {
      "main": [
        [
          {
            "node": "Has Alerts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Alerts?": {
      "main": [
        [
          {
            "node": "Send Alert to App",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All Healthy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Every 6 Hours": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {
    "Every 6 Hours": [
      {
        "json": {
          "timestamp": "2026-02-11T14:00:47.008-05:00",
          "Readable date": "February 11th 2026, 2:00:47 pm",
          "Readable time": "2:00:47 pm",
          "Day of week": "Wednesday",
          "Year": "2026",
          "Month": "February",
          "Day of month": "11",
          "Hour": "14",
          "Minute": "00",
          "Second": "47",
          "Timezone": "America/New_York (UTC-05:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "bad8798c-1b70-4060-b565-91bacdb175b6",
  "activeVersionId": "bad8798c-1b70-4060-b565-91bacdb175b6",
  "versionCounter": 19,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-02-11T18:27:27.877Z",
      "createdAt": "2026-02-11T18:27:27.877Z",
      "role": "workflow:owner",
      "workflowId": "avKezuhdSF5DKqh8",
      "projectId": "TeIheDYiQkebiIvt",
      "project": {
        "updatedAt": "2025-12-13T01:11:01.102Z",
        "createdAt": "2025-12-13T01:09:43.703Z",
        "id": "TeIheDYiQkebiIvt",
        "name": "Vambah Sillah <vsillah@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "40690b8a-67b7-469e-b617-699a163b2224"
      }
    }
  ]
}