n8n-exports/WF-PROV-Provisioning-Reminder.json
{
  "id": "SLhkx0Ff4uGjcxi2",
  "name": "WF-PROV: Provisioning Reminder",
  "active": false,
  "createdAt": "2026-03-16T21:15:43.272Z",
  "updatedAt": "2026-03-16T21:15:43.272Z",
  "nodes": [
    {
      "name": "Provisioning Reminder Webhook",
      "webhookId": "prov-reminder-001",
      "id": "webhook-trigger",
      "typeVersion": 2.1,
      "position": [0, 300],
      "type": "n8n-nodes-base.webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "provisioning-reminder",
        "responseMode": "responseNode",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "name": "Extract Payload",
      "id": "extract-data",
      "typeVersion": 3.4,
      "position": [250, 300],
      "type": "n8n-nodes-base.set",
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {"id": "a1", "name": "client_name", "type": "string", "value": "={{ $json.body.client_name }}"},
            {"id": "a2", "name": "client_email", "type": "string", "value": "={{ $json.body.client_email }}"},
            {"id": "a3", "name": "project_name", "type": "string", "value": "={{ $json.body.project_name }}"},
            {"id": "a4", "name": "pending_items", "type": "string", "value": "={{ $json.body.pending_items }}"},
            {"id": "a5", "name": "slack_channel", "type": "string", "value": "={{ $json.body.slack_channel || '' }}"},
            {"id": "a6", "name": "callback_url", "type": "string", "value": "={{ $json.body.callback_url || '' }}"}
          ]
        },
        "options": {}
      }
    },
    {
      "name": "Has Slack Channel?",
      "id": "check-channel",
      "typeVersion": 2.3,
      "position": [500, 300],
      "type": "n8n-nodes-base.if",
      "parameters": {
        "conditions": {
          "options": {"version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"},
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-1",
              "operator": {"type": "string", "operation": "notEmpty"},
              "leftValue": "={{ $json.slack_channel }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      }
    },
    {
      "name": "Send Slack Reminder",
      "id": "send-slack",
      "typeVersion": 4.4,
      "position": [750, 200],
      "type": "n8n-nodes-base.httpRequest",
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "specifyBody": "json",
        "sendBody": true,
        "sendHeaders": false,
        "jsonBody": "={\n  \"channel\": \"{{ $json.slack_channel }}\",\n  \"text\": \"Hey {{ $json.client_name }}! Quick reminder on *{{ $json.project_name }}* — we still need a few things from you to keep things moving:\\n\\n{{ $json.pending_items }}\\n\\nCan you take a look when you get a chance? Happy to help if you hit any snags.\",\n  \"unfurl_links\": false\n}",
        "options": {},
        "authentication": "genericCredentialType",
        "contentType": "json",
        "genericAuthType": "httpHeaderAuth"
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "name": "Send Email Reminder",
      "id": "send-email",
      "typeVersion": 4.4,
      "position": [750, 400],
      "type": "n8n-nodes-base.httpRequest",
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callback_url }}",
        "specifyBody": "json",
        "sendBody": true,
        "sendHeaders": false,
        "jsonBody": "={\n  \"type\": \"provisioning_reminder\",\n  \"client_name\": \"{{ $json.client_name }}\",\n  \"client_email\": \"{{ $json.client_email }}\",\n  \"project_name\": \"{{ $json.project_name }}\",\n  \"pending_items\": \"{{ $json.pending_items }}\",\n  \"channel\": \"email\"\n}",
        "options": {},
        "authentication": "none",
        "contentType": "json"
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "name": "Respond OK",
      "id": "respond-ok",
      "typeVersion": 1.5,
      "position": [1000, 300],
      "type": "n8n-nodes-base.respondToWebhook",
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Provisioning reminder sent\"\n}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Provisioning Reminder Webhook": {
      "main": [[{"node": "Extract Payload", "type": "main", "index": 0}]]
    },
    "Extract Payload": {
      "main": [[{"node": "Has Slack Channel?", "type": "main", "index": 0}]]
    },
    "Has Slack Channel?": {
      "main": [
        [{"node": "Send Slack Reminder", "type": "main", "index": 0}],
        [{"node": "Send Email Reminder", "type": "main", "index": 0}]
      ]
    },
    "Send Slack Reminder": {
      "main": [[{"node": "Respond OK", "type": "main", "index": 0}]]
    },
    "Send Email Reminder": {
      "main": [[{"node": "Respond OK", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  }
}
