n8n-exports/WF-SOC-001-Social-Content-Extraction.json
{
  "name": "WF-SOC-001 Social Content Extraction",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 9AM Weekdays",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "notes": "Runs Mon-Fri at 9AM. Also accepts manual webhook trigger."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://n8n.amadutown.com/webhook/social-content-extract",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Manual Trigger Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 200],
      "webhookId": "social-content-extract",
      "notes": "Manual trigger from admin UI or API"
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL = 'https://byoriebhtbysanjhimlu.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b3JpZWJodGJ5c2FuamhpbWx1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzcyNTY5NSwiZXhwIjoyMDgzMzAxNjk1fQ.0hMfqk1z6zO58xNlTLVdK7_JmLD6TrYiEUYJIuQAXSY';\nconst headers = { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}` };\nconst queueResp = await fetch(`${SUPABASE_URL}/rest/v1/social_content_queue?select=meeting_record_id&meeting_record_id=not.is.null`, { headers });\nconst queued = await queueResp.json();\nconst queuedIds = queued.map(r => r.meeting_record_id);\nconst sevenDaysAgo = new Date(Date.now() - 7*24*60*60*1000).toISOString();\nconst meetingsResp = await fetch(`${SUPABASE_URL}/rest/v1/meeting_records?select=*&created_at=gte.${sevenDaysAgo}&order=created_at.desc&limit=10`, { headers });\nconst meetings = await meetingsResp.json();\nconst unprocessed = meetings.filter(m => !queuedIds.includes(m.id));\nif (unprocessed.length === 0) return [{ json: { _empty: true, message: 'No unprocessed meetings found' } }];\nreturn unprocessed.map(m => ({ json: m }));"
      },
      "id": "fetch-meetings-code",
      "name": "Fetch Unprocessed Meetings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 100],
      "notes": "Fetches meetings not yet processed for social content via Supabase REST API"
    },
    {
      "parameters": {
        "url": "https://amadutown.app.n8n.cloud/webhook/amadutown-rag-query",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ 'Personal stories, case studies, and experiences related to: ' + $json.structured_notes?.summary || $json.transcript?.substring(0, 500) || 'general business consulting' }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "rag-query",
      "name": "RAG Personal Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [550, 100],
      "notes": "Query Pinecone RAG for personal stories and context to weave into posts"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an expert content strategist who follows Alex Hormozi's communication frameworks from $100M Offers and $100M Leads.\n\nGiven a meeting transcript and personal context from the creator's knowledge base, extract 1-3 social-media-worthy topics.\n\nFor each topic, provide:\n1. topic: A one-liner describing the core idea\n2. angle: What makes this interesting to the target audience\n3. key_insight: The transferable takeaway\n4. personal_tie_in: How this connects to the creator's personal experience\n5. hormozi_framework: Which framework applies (value_equation, offer_creation, lead_magnet, dream_outcome, risk_reversal, scarcity_urgency, proof_stacking)\n6. framework_visual: Which diagram type (flowchart, matrix, equation, funnel, before_after, architecture, pillars, timeline, cycle)\n\nReturn valid JSON array of topics. Focus on insights that would make a LinkedIn audience stop scrolling."
            },
            {
              "role": "user",
              "content": "=Meeting Type: {{ $node['Fetch Unprocessed Meetings'].json.meeting_type }}\n\nStructured Notes:\n{{ JSON.stringify($node['Fetch Unprocessed Meetings'].json.structured_notes) }}\n\nKey Decisions:\n{{ JSON.stringify($node['Fetch Unprocessed Meetings'].json.key_decisions) }}\n\nTranscript (excerpt):\n{{ ($node['Fetch Unprocessed Meetings'].json.transcript || '').substring(0, 5000) }}\n\nPersonal Context from RAG:\n{{ JSON.stringify($node['RAG Personal Context'].json) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 2000
        }
      },
      "id": "extract-topics",
      "name": "AI Extract Topics",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.8,
      "position": [800, 100],
      "notes": "Extract social-worthy topics using Hormozi frameworks"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.choices?.[0]?.message?.content || response.message?.content || '{}';\n\nlet topics;\ntry {\n  topics = JSON.parse(content);\n  if (!Array.isArray(topics)) topics = [topics];\n} catch (e) {\n  const match = content.match(/\\[.*\\]/s);\n  topics = match ? JSON.parse(match[0]) : [{ topic: content, angle: 'General insight', key_insight: content, personal_tie_in: '', hormozi_framework: 'value_equation', framework_visual: 'architecture' }];\n}\n\nreturn topics.map(t => ({ json: { ...t, meeting_record_id: $node['Fetch Unprocessed Meetings'].json.id, rag_context: $node['RAG Personal Context'].json } }));"
      },
      "id": "parse-topics",
      "name": "Parse Topics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 100],
      "notes": "Parse AI response into individual topic items"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a LinkedIn content writer who follows Alex Hormozi's communication style. Write a post that will make people stop scrolling.\n\nRULES:\n1. Hook (first 2 lines): Pattern-interrupt. Use contrarian take, bold claim with number, challenging question, or 'Most people think X, but Y'.\n2. Story/Proof (middle): Weave in personal experience from RAG context — real client outcomes, specific numbers from past projects.\n3. Lesson (framework): Name the principle. Make it a transferable framework.\n4. CTA (last 2 lines): Clear, specific call to action.\n\nFORMAT: Short paragraphs (1-2 sentences), line breaks between thoughts, no walls of text, conversational tone, 150-300 words. Include 3-5 hashtags at the end.\n\nReturn JSON: { post_text, cta_text, cta_url, hashtags: string[], hormozi_framework: { framework_type, hook_type, proof_pattern, cta_pattern } }"
            },
            {
              "role": "user",
              "content": "=Topic: {{ $json.topic }}\nAngle: {{ $json.angle }}\nKey Insight: {{ $json.key_insight }}\nPersonal Tie-in: {{ $json.personal_tie_in }}\nHormozi Framework: {{ $json.hormozi_framework }}\nFramework Visual: {{ $json.framework_visual }}\n\nRAG Context:\n{{ JSON.stringify($json.rag_context) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.8,
          "maxTokens": 1500
        }
      },
      "id": "write-post",
      "name": "Hormozi Copywriting",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.8,
      "position": [1300, 100],
      "notes": "Write Hormozi-style LinkedIn post with CTA"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.choices?.[0]?.message?.content || response.message?.content || '{}';\n\nlet post;\ntry {\n  post = JSON.parse(content);\n} catch (e) {\n  const match = content.match(/\\{.*\\}/s);\n  post = match ? JSON.parse(match[0]) : { post_text: content, cta_text: '', cta_url: 'https://amadutown.com', hashtags: ['business', 'automation'], hormozi_framework: {} };\n}\n\nconst prev = $node['Parse Topics'].json;\n\nreturn [{ json: {\n  meeting_record_id: prev.meeting_record_id,\n  platform: 'linkedin',\n  status: 'draft',\n  post_text: post.post_text,\n  cta_text: post.cta_text || null,\n  cta_url: post.cta_url || 'https://amadutown.com',\n  hashtags: post.hashtags || [],\n  framework_visual_type: prev.framework_visual,\n  topic_extracted: { topic: prev.topic, angle: prev.angle, key_insight: prev.key_insight, personal_tie_in: prev.personal_tie_in, framework_visual: prev.framework_visual },\n  hormozi_framework: post.hormozi_framework || {},\n  rag_context: prev.rag_context || {},\n  image_prompt: `Create a clean, professional ${prev.framework_visual} illustration for LinkedIn. Topic: ${prev.topic}. Style: deep navy (#121E31) background, gold (#D4AF37) accents, platinum white (#EAECEE) text, geometric sans-serif headings, premium minimal aesthetic, no stock photos, pure diagram/framework visual, 1:1 aspect ratio.`,\n  voiceover_text: post.post_text\n} }];"
      },
      "id": "format-post",
      "name": "Format Post Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1550, 100],
      "notes": "Format post data for Gemini image gen and queue insertion"
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.image_prompt }] }], generationConfig: { responseModalities: ['IMAGE', 'TEXT'], imageSizeOptions: { aspectRatio: '1:1' } } }) }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyCIs_Tm3ExJgTC3evdcRXXu44G3HUPJyjM"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "gemini-image",
      "name": "Gemini Image Gen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 100],
      "notes": "Generate framework illustration via Gemini 2.0. Swappable: replace URL and body for DALL-E or Flux."
    },
    {
      "parameters": {
        "jsCode": "// Extract base64 image from Gemini response and prepare for Supabase upload\nconst geminiResponse = $input.first().json;\nconst prev = $node['Format Post Data'].json;\n\nlet imageBase64 = null;\nlet imageMimeType = 'image/png';\n\nif (geminiResponse.candidates?.[0]?.content?.parts) {\n  for (const part of geminiResponse.candidates[0].content.parts) {\n    if (part.inlineData) {\n      imageBase64 = part.inlineData.data;\n      imageMimeType = part.inlineData.mimeType || 'image/png';\n      break;\n    }\n  }\n}\n\nreturn [{ json: { ...prev, imageBase64, imageMimeType, hasImage: !!imageBase64 } }];"
      },
      "id": "process-image",
      "name": "Process Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 100],
      "notes": "Extract base64 image from Gemini response"
    },
    {
      "parameters": {
        "url": "https://api.elevenlabs.io/v1/text-to-speech/NMPIvMY9syNQoLVKqig8",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.voiceover_text?.substring(0, 5000) || $json.post_text?.substring(0, 5000), model_id: 'eleven_multilingual_v2', voice_settings: { stability: 0.5, similarity_boost: 0.75 } }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "5b888b6d046e0545ecaf4af78c1b2b8fc6a815eedfcd3d4f923540f5e19665d7"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "audio/mpeg"
            }
          ]
        },
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "elevenlabs-tts",
      "name": "ElevenLabs Voiceover",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2300, 100],
      "notes": "Generate voiceover via ElevenLabs TTS API. Swappable: replace with Google TTS or Amazon Polly."
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL = 'https://byoriebhtbysanjhimlu.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b3JpZWJodGJ5c2FuamhpbWx1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzcyNTY5NSwiZXhwIjoyMDgzMzAxNjk1fQ.0hMfqk1z6zO58xNlTLVdK7_JmLD6TrYiEUYJIuQAXSY';\nconst data = $node['Process Image'].json;\nconst row = {\n  meeting_record_id: data.meeting_record_id,\n  platform: data.platform || 'linkedin',\n  status: 'draft',\n  post_text: data.post_text,\n  cta_text: data.cta_text || null,\n  cta_url: data.cta_url || 'https://amadutown.com',\n  hashtags: data.hashtags || [],\n  framework_visual_type: data.framework_visual_type || null,\n  topic_extracted: data.topic_extracted || {},\n  hormozi_framework: data.hormozi_framework || {},\n  rag_context: data.rag_context || {},\n  image_prompt: data.image_prompt || '',\n  voiceover_text: data.voiceover_text || ''\n};\nconst resp = await fetch(`${SUPABASE_URL}/rest/v1/social_content_queue`, {\n  method: 'POST',\n  headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json', 'Prefer': 'return=representation' },\n  body: JSON.stringify(row)\n});\nconst result = await resp.json();\nreturn [{ json: Array.isArray(result) ? result[0] : result }];"
      },
      "id": "save-to-queue-code",
      "name": "Save to Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2550, 100],
      "notes": "Insert draft into social_content_queue via Supabase REST API"
    },
    {
      "parameters": {
        "channel": "#social-content",
        "text": "=:sparkles: *New Social Content Draft*\n\n*Topic:* {{ $node['Process Image'].json.topic_extracted?.topic || 'New post' }}\n*Framework:* {{ $node['Process Image'].json.framework_visual_type || 'N/A' }}\n*Platform:* LinkedIn\n\n_Preview:_ {{ $node['Process Image'].json.post_text?.substring(0, 200) }}...\n\n<https://amadutown.com/admin/social-content|Review in Admin →>",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2800, 100],
      "notes": "Notify #social-content channel with draft summary and admin link"
    }
  ],
  "connections": {
    "Daily 9AM Weekdays": {
      "main": [[{ "node": "Fetch Unprocessed Meetings", "type": "main", "index": 0 }]]
    },
    "Manual Trigger Webhook": {
      "main": [[{ "node": "Fetch Unprocessed Meetings", "type": "main", "index": 0 }]]
    },
    "Fetch Unprocessed Meetings": {
      "main": [[{ "node": "RAG Personal Context", "type": "main", "index": 0 }]]
    },
    "RAG Personal Context": {
      "main": [[{ "node": "AI Extract Topics", "type": "main", "index": 0 }]]
    },
    "AI Extract Topics": {
      "main": [[{ "node": "Parse Topics", "type": "main", "index": 0 }]]
    },
    "Parse Topics": {
      "main": [[{ "node": "Hormozi Copywriting", "type": "main", "index": 0 }]]
    },
    "Hormozi Copywriting": {
      "main": [[{ "node": "Format Post Data", "type": "main", "index": 0 }]]
    },
    "Format Post Data": {
      "main": [[{ "node": "Gemini Image Gen", "type": "main", "index": 0 }]]
    },
    "Gemini Image Gen": {
      "main": [[{ "node": "Process Image", "type": "main", "index": 0 }]]
    },
    "Process Image": {
      "main": [[{ "node": "ElevenLabs Voiceover", "type": "main", "index": 0 }]]
    },
    "ElevenLabs Voiceover": {
      "main": [[{ "node": "Save to Queue", "type": "main", "index": 0 }]]
    },
    "Save to Queue": {
      "main": [[{ "node": "Slack Notification", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "timezone": "America/New_York"
  }
}
