n8n-exports/WF-SOC-003-Image-Regeneration.json
{
  "id": "eo0OAfcGmsZUqvjp",
  "name": "WF-SOC-003 Image Regeneration",
  "active": true,
  "createdAt": "2026-03-28T10:28:26.750Z",
  "updatedAt": "2026-03-28T10:38:15.160Z",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [250, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "social-content-regenerate-image",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "generate-and-upload",
      "name": "Generate Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const GEMINI_API_KEY = 'REPLACE_WITH_GEMINI_API_KEY';\n\nconst input = $input.first().json;\nconst { content_id, image_prompt, framework_visual_type } = input.body || input;\n\nif (!content_id || !image_prompt) {\n  return [{ json: { success: false, error: 'content_id and image_prompt are required' } }];\n}\n\ntry {\n  const geminiUrl = `https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent?key=${GEMINI_API_KEY}`;\n  let geminiResp;\n  try {\n    geminiResp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: geminiUrl,\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        contents: [{ parts: [{ text: image_prompt + '\\n\\nGenerate a 1:1 square image.' }] }],\n        generationConfig: { responseModalities: ['IMAGE', 'TEXT'] }\n      },\n      json: true,\n      timeout: 90000,\n      ignoreHttpStatusErrors: true\n    });\n  } catch (geminiErr) {\n    return [{ json: { success: false, error: `Gemini request failed: ${geminiErr.message}` } }];\n  }\n\n  if (geminiResp.error) {\n    return [{ json: { success: false, error: `Gemini API error: ${JSON.stringify(geminiResp.error).slice(0, 300)}` } }];\n  }\n\n  let imageBase64 = null;\n  let imageMimeType = 'image/png';\n  if (geminiResp.candidates?.[0]?.content?.parts) {\n    for (const part of geminiResp.candidates[0].content.parts) {\n      if (part.inlineData) {\n        imageBase64 = part.inlineData.data;\n        imageMimeType = part.inlineData.mimeType || 'image/png';\n        break;\n      }\n    }\n  }\n  if (!imageBase64) {\n    return [{ json: { success: false, error: 'Gemini did not return an image' } }];\n  }\n\n  const ext = imageMimeType.includes('png') ? 'png' : imageMimeType.includes('webp') ? 'webp' : 'jpg';\n  const fileName = `framework-illustrations/${content_id}-${Date.now()}.${ext}`;\n\n  const binaryData = await this.helpers.prepareBinaryData(\n    Buffer.from(imageBase64, 'base64'),\n    `${content_id}.${ext}`,\n    imageMimeType\n  );\n\n  return [{\n    json: { success: true, content_id, fileName, imageMimeType },\n    binary: { data: binaryData }\n  }];\n} catch (err) {\n  return [{ json: { success: false, error: `Unexpected error: ${err.message}` } }];\n}"
      },
      "notes": "Calls Gemini to generate framework illustration, prepares binary for upload to Supabase Storage"
    },
    {
      "id": "upload-to-storage",
      "name": "Upload to Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [750, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://SUPABASE_PROJECT_REF.supabase.co/storage/v1/object/social-content/{{ $json.fileName }}",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer REPLACE_WITH_SUPABASE_SERVICE_ROLE_KEY" },
            { "name": "apikey", "value": "REPLACE_WITH_SUPABASE_SERVICE_ROLE_KEY" },
            { "name": "x-upsert", "value": "true" }
          ]
        },
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "update-db-and-respond",
      "name": "Update DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const SUPABASE_URL = 'https://SUPABASE_PROJECT_REF.supabase.co';\nconst SUPABASE_KEY = 'REPLACE_WITH_SUPABASE_SERVICE_ROLE_KEY';\n\nconst prev = $node['Generate Image'].json;\nif (!prev.success) {\n  return [{ json: { success: false, error: prev.error } }];\n}\n\nconst { content_id, fileName } = prev;\nconst imageUrl = `${SUPABASE_URL}/storage/v1/object/public/social-content/${fileName}`;\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: `${SUPABASE_URL}/rest/v1/social_content_queue?id=eq.${content_id}`,\n    headers: {\n      'Authorization': `Bearer ${SUPABASE_KEY}`,\n      'apikey': SUPABASE_KEY,\n      'Content-Type': 'application/json',\n      'Prefer': 'return=representation'\n    },\n    body: { image_url: imageUrl },\n    json: true,\n    timeout: 10000\n  });\n} catch (dbErr) {\n  return [{ json: { success: false, error: `DB update failed: ${dbErr.message}`, image_url: imageUrl } }];\n}\n\nreturn [{ json: { success: true, image_url: imageUrl, content_id } }];"
      }
    },
    {
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1250, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: $json.success, image_url: $json.image_url || null, error: $json.error || null }) }}"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Generate Image", "type": "main", "index": 0 }]]
    },
    "Generate Image": {
      "main": [[{ "node": "Upload to Storage", "type": "main", "index": 0 }]]
    },
    "Upload to Storage": {
      "main": [[{ "node": "Update DB", "type": "main", "index": 0 }]]
    },
    "Update DB": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York"
  }
}
