n8n-exports/WF-SLK-Slack-Meeting-Intake.json
{
  "createdAt": "2026-02-22T02:10:31.281Z",
  "updatedAt": "2026-03-17T03:51:07.891Z",
  "id": "77FrJvhWIaOMfrLX",
  "name": "WF-SLK: Slack Meeting Intake",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## WF-SLK: Slack Meeting Intake\n\n**Purpose:** Bridges Read.ai -> Slack (#meeting-transcripts) -> WF-MCH.\n\n**Webhook URL:** https://amadutown.app.n8n.cloud/webhook/slack-meeting-intake\n\n**Flow:** Only events from #meeting-transcripts (C0ADFGBHJLE). Dedupe by Slack event_id via /api/slack-meeting-dedupe.\n\n**Slack Event Subscriptions:** Request URL = n8n Cloud webhook above; subscribe to message.channels. Add bot to #meeting-transcripts.\n\n**Dedupe:** N8N_INGEST_SECRET is hardcoded in Dedupe Check and Mark Processed Code nodes (no enterprise $env).",
        "height": 500,
        "width": 500
      },
      "name": "Workflow Note",
      "id": "note-slk",
      "typeVersion": 1,
      "position": [-192, 896],
      "type": "n8n-nodes-base.stickyNote"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-meeting-intake",
        "responseMode": "responseNode",
        "options": { "rawBody": true }
      },
      "name": "Slack Webhook",
      "webhookId": "slack-meeting-intake",
      "id": "trigger-webhook",
      "typeVersion": 2,
      "position": [0, 304],
      "type": "n8n-nodes-base.webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\nif (body.type === 'url_verification') {\n  return [{ json: { isChallenge: true, challenge: body.challenge } }];\n}\nif (body.type === 'event_callback' && body.event) {\n  const evt = body.event;\n  if (evt.type === 'message' && !evt.subtype) {\n    return [{ json: { isChallenge: false, event_id: body.event_id || '', text: evt.text || '', blocks: evt.blocks || [], ts: evt.ts || '', channel: evt.channel || '', user: evt.user || '' } }];\n  }\n}\nreturn [{ json: { isChallenge: true, challenge: null } }];"
      },
      "name": "Handle Slack Event",
      "id": "handle-slack-event",
      "typeVersion": 2,
      "position": [224, 304],
      "type": "n8n-nodes-base.code"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": false, "typeValidation": "loose" },
          "conditions": [
            {
              "id": "is-challenge",
              "leftValue": "={{ $json.isChallenge }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Is Challenge?",
      "id": "route-challenge",
      "typeVersion": 2.2,
      "position": [448, 304],
      "type": "n8n-nodes-base.if"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.challenge ? JSON.stringify({ challenge: $json.challenge }) : '\"ok\"' }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "application/json" }] }
        }
      },
      "name": "Respond Challenge",
      "id": "respond-challenge",
      "typeVersion": 1.1,
      "position": [672, 208],
      "type": "n8n-nodes-base.respondToWebhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": { "responseCode": 200 }
      },
      "name": "Respond OK ack",
      "id": "70bb1bff-dd56-4947-9409-e8c1f36c89ae",
      "typeVersion": 1.1,
      "position": [672, 400],
      "type": "n8n-nodes-base.respondToWebhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "channel-check",
              "leftValue": "={{ $json.channel }}",
              "rightValue": "C0ADFGBHJLE",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "From meeting-transcripts",
      "id": "1cb41af5-d8d9-47f9-b2e7-0853714629db",
      "typeVersion": 2.2,
      "position": [896, 400],
      "type": "n8n-nodes-base.if"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst eventId = input.event_id || '';\nconst baseUrl = 'https://amadutown.com';\nconst secret = 'QeN22JCeKUfIPbVAgUIm08GWKPttK2QG/NtKRLGMqS4=';\nlet duplicate = false;\nif (eventId) {\n  try {\n    const res = await fetch(`${baseUrl}/api/slack-meeting-dedupe?event_id=${encodeURIComponent(eventId)}`, {\n      headers: { Authorization: `Bearer ${secret}` }\n    });\n    const data = await res.json();\n    duplicate = data.duplicate === true;\n  } catch (e) {\n    duplicate = false;\n  }\n}\nreturn [{ json: { ...input, duplicate } }];"
      },
      "name": "Dedupe Check",
      "id": "272dbaff-3558-409e-9065-5db733834ffa",
      "typeVersion": 2,
      "position": [1120, 400],
      "type": "n8n-nodes-base.code"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": false, "typeValidation": "loose" },
          "conditions": [
            {
              "id": "is-dup",
              "leftValue": "={{ $json.duplicate }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Already Processed",
      "id": "d3b47816-155a-4b94-b0a1-5763d3769e1d",
      "typeVersion": 2.2,
      "position": [1344, 400],
      "type": "n8n-nodes-base.if"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Skip",
      "id": "fc98cbde-be52-499d-afd4-c16402c50d11",
      "typeVersion": 3.4,
      "position": [1344, 600],
      "type": "n8n-nodes-base.set"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst baseUrl = 'https://amadutown.com';\nconst secret = 'QeN22JCeKUfIPbVAgUIm08GWKPttK2QG/NtKRLGMqS4=';\nif (input.event_id) {\n  try {\n    await fetch(`${baseUrl}/api/slack-meeting-dedupe`, {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json', Authorization: `Bearer ${secret}` },\n      body: JSON.stringify({ event_id: input.event_id })\n    });\n  } catch (e) {}\n}\nreturn [{ json: input }];"
      },
      "name": "Mark Processed",
      "id": "987ff907-95af-4cea-b830-2d765512bb38",
      "typeVersion": 2,
      "position": [1568, 400],
      "type": "n8n-nodes-base.code"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": false, "typeValidation": "loose" },
          "conditions": [
            {
              "id": "readai-check-broad",
              "leftValue": "={{ ($json.text || '').toLowerCase() }}",
              "rightValue": "meeting|call|summary|recap|transcript|read\\.ai|readai|action items|key topics|highlights|attendees",
              "operator": { "type": "string", "operation": "regex" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Filter Read.ai Messages",
      "id": "filter-readai",
      "typeVersion": 2.2,
      "position": [1792, 400],
      "type": "n8n-nodes-base.if"
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.item.json;\nconst text = msg.text || '';\nconst blocks = msg.blocks || [];\n\nlet title = '';\nlet summary = '';\nlet actionItemsRaw = '';\nlet participants = [];\nlet duration = 0;\n\nif (blocks.length > 0) {\n  for (const block of blocks) {\n    const blockText = (block.text && block.text.text) || '';\n    if (blockText.includes('Meeting') || blockText.includes('Call') || blockText.includes('Session')) {\n      if (!title) title = blockText.replace(/[*_~`]/g, '').trim();\n    }\n    if (blockText.toLowerCase().includes('summary') || blockText.toLowerCase().includes('recap')) {\n      summary += blockText + '\\n';\n    }\n    if (blockText.toLowerCase().includes('action')) {\n      actionItemsRaw += blockText + '\\n';\n    }\n    if (blockText.toLowerCase().includes('participant') || blockText.toLowerCase().includes('attendee')) {\n      const emailPattern = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g;\n      const emails = blockText.match(emailPattern) || [];\n      participants.push(...emails);\n    }\n    const durationMatch = blockText.match(/(\\d+)\\s*min/i);\n    if (durationMatch) duration = parseInt(durationMatch[1]);\n  }\n}\n\nif (!title) {\n  const lines = text.split('\\n').filter(l => l.trim());\n  title = (lines[0] || 'Untitled Meeting').replace(/[*_~`]/g, '').trim();\n}\nif (!summary) {\n  summary = text;\n}\n\nconst emailPattern = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g;\nconst allEmails = text.match(emailPattern) || [];\nif (allEmails.length > 0 && participants.length === 0) {\n  participants = allEmails;\n}\n\nconst titleLower = title.toLowerCase();\nlet meetingType = 'discovery';\nif (titleLower.includes('discovery') || titleLower.includes('intro')) {\n  meetingType = 'discovery';\n} else if (titleLower.includes('onboarding') || titleLower.includes('onboard')) {\n  meetingType = 'onboarding';\n} else if (titleLower.includes('kick-off') || titleLower.includes('kickoff') || titleLower.includes('kick off')) {\n  meetingType = 'kickoff';\n} else if (titleLower.includes('progress') || titleLower.includes('check-in') || titleLower.includes('checkin') || titleLower.includes('status')) {\n  meetingType = 'progress_checkin';\n} else if (titleLower.includes('go/no-go') || titleLower.includes('go-no-go') || titleLower.includes('go no go')) {\n  meetingType = 'go_no_go';\n} else if (titleLower.includes('delivery') || titleLower.includes('review') || titleLower.includes('handoff')) {\n  meetingType = 'delivery_review';\n}\n\nconst hostEmails = ['vsillah@gmail.com', 'amadutown@gmail.com'];\nconst clientEmail = participants.find(e => !hostEmails.includes(e.toLowerCase())) || '';\n\nif (!duration) {\n  const durationMatch = text.match(/(\\d+)\\s*min/i);\n  if (durationMatch) duration = parseInt(durationMatch[1]);\n}\n\nreturn [{\n  json: {\n    title,\n    meeting_type: meetingType,\n    client_email: clientEmail,\n    summary: summary.substring(0, 15000),\n    transcript: text,\n    action_items: actionItemsRaw,\n    participants: participants.map(e => ({email: e})),\n    duration,\n    meeting_date: new Date().toISOString(),\n    source: 'read_ai_slack',\n    slack_ts: msg.ts || '',\n    slack_channel: msg.channel || ''\n  }\n}];"
      },
      "name": "Parse Read.ai Message",
      "id": "parse-readai",
      "typeVersion": 2,
      "position": [2016, 304],
      "type": "n8n-nodes-base.code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://amadutown.app.n8n.cloud/webhook/meeting-complete",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ meeting_type: $json.meeting_type, client_email: $json.client_email || \"\", client_name: $json.client_name || \"\", title: $json.title, summary: $json.summary, transcript: $json.transcript, duration: $json.duration, meeting_date: $json.meeting_date, participants: $json.participants || [], action_items: $json.action_items }) }}",
        "options": {}
      },
      "name": "Send to Meeting Handler",
      "id": "call-mch",
      "typeVersion": 4.2,
      "position": [2240, 304],
      "type": "n8n-nodes-base.httpRequest"
    },
    {
      "parameters": { "options": {} },
      "name": "Not a Read.ai Message",
      "id": "log-skip",
      "typeVersion": 3.4,
      "position": [2016, 600],
      "type": "n8n-nodes-base.set"
    }
  ],
  "connections": {
    "Slack Webhook": {
      "main": [[{ "node": "Handle Slack Event", "type": "main", "index": 0 }]]
    },
    "Handle Slack Event": {
      "main": [[{ "node": "Is Challenge?", "type": "main", "index": 0 }]]
    },
    "Is Challenge?": {
      "main": [
        [{ "node": "Respond Challenge", "type": "main", "index": 0 }],
        [{ "node": "Respond OK ack", "type": "main", "index": 0 }]
      ]
    },
    "Respond OK ack": {
      "main": [[{ "node": "From meeting-transcripts", "type": "main", "index": 0 }]]
    },
    "From meeting-transcripts": {
      "main": [
        [{ "node": "Dedupe Check", "type": "main", "index": 0 }],
        [{ "node": "Skip", "type": "main", "index": 0 }]
      ]
    },
    "Dedupe Check": {
      "main": [[{ "node": "Already Processed", "type": "main", "index": 0 }]]
    },
    "Already Processed": {
      "main": [
        [{ "node": "Skip", "type": "main", "index": 0 }],
        [{ "node": "Mark Processed", "type": "main", "index": 0 }]
      ]
    },
    "Mark Processed": {
      "main": [[{ "node": "Filter Read.ai Messages", "type": "main", "index": 0 }]]
    },
    "Filter Read.ai Messages": {
      "main": [
        [{ "node": "Parse Read.ai Message", "type": "main", "index": 0 }],
        [{ "node": "Not a Read.ai Message", "type": "main", "index": 0 }]
      ]
    },
    "Parse Read.ai Message": {
      "main": [[{ "node": "Send to Meeting Handler", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f832f95c-8433-475a-ab41-d4c801db8c98",
  "triggerCount": 1,
  "tags": []
}
