n8n-exports/WF-VEP-002-Social-Listening-Pipeline.json
{
  "updatedAt": "2026-03-26T17:02:55.125Z",
  "createdAt": "2026-02-22T02:10:32.994Z",
  "id": "gUyOBZOknpAt41aF",
  "name": "WF-VEP-002: Social Listening Pipeline",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "name": "Webhook Trigger",
      "webhookId": "c8e0dcb1-35f3-4f74-9311-3d78e4d06bcf",
      "id": "webhook-trigger",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "type": "n8n-nodes-base.webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "vep-002-social",
        "options": {}
      }
    },
    {
      "name": "WF-VEP-002 Overview",
      "id": "sticky-overview",
      "typeVersion": 1,
      "position": [
        -288,
        -304
      ],
      "type": "n8n-nodes-base.stickyNote",
      "parameters": {
        "content": "## WF-VEP-002: Social Listening Pipeline\n\nFlow: Webhook \u2192 Scrape 5 platforms (Reddit, Google Maps, LinkedIn, G2, Capterra) \u2192 Extract \u2192 Merge All \u2192 Filter \u2192 POST Market Intel + AI Classify (batched) \u2192 POST Pain Points\n\nPlatforms: Reddit (keyword search), Google Maps (place reviews), LinkedIn (post search), G2 (product reviews), Capterra (product reviews)\n\nEnvironment vars: PORTFOLIO_BASE_URL, N8N_INGEST_SECRET",
        "height": 200,
        "width": 440
      }
    },
    {
      "name": "Setup Notes",
      "id": "sticky-setup",
      "typeVersion": 1,
      "position": [
        -288,
        96
      ],
      "type": "n8n-nodes-base.stickyNote",
      "parameters": {
        "content": "## Required Setup\n1. Apify credentials\n2. Anthropic credentials (HTTP Header Auth)\n3. Env vars: PORTFOLIO_BASE_URL, N8N_INGEST_SECRET",
        "height": 160,
        "width": 432
      }
    },
    {
      "name": "Set Search Parameters",
      "id": "set-params",
      "typeVersion": 3.4,
      "position": [
        288,
        400
      ],
      "type": "n8n-nodes-base.set",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "industry",
              "name": "industry",
              "type": "string",
              "value": "={{ $json.body && $json.body.industry ? $json.body.industry : 'small_business' }}"
            },
            {
              "id": "searchTerms",
              "name": "searchTerms",
              "type": "string",
              "value": "={{ JSON.stringify($json.body && $json.body.searchTerms ? $json.body.searchTerms : ['small business technology challenges', 'nonprofit operations software pain points', 'minority business owner automation struggles']) }}"
            },
            {
              "id": "googleMapsQuery",
              "name": "googleMapsQuery",
              "type": "string",
              "value": "={{ $json.body && $json.body.googleMapsQuery ? $json.body.googleMapsQuery : 'IT consulting small business' }}"
            },
            {
              "id": "maxResults",
              "name": "maxResults",
              "type": "number",
              "value": "={{ $json.body && $json.body.maxResults ? $json.body.maxResults : 20 }}"
            },
            {
              "id": "linkedinKeywords",
              "name": "linkedinKeywords",
              "type": "string",
              "value": "={{ JSON.stringify($json.body && $json.body.linkedinKeywords ? $json.body.linkedinKeywords : ['small business automation challenges', 'nonprofit technology struggles', 'black owned business operations']) }}"
            },
            {
              "id": "g2ProductUrls",
              "name": "g2ProductUrls",
              "type": "string",
              "value": "={{ JSON.stringify($json.body && $json.body.g2ProductUrls ? $json.body.g2ProductUrls : ['https://www.g2.com/products/hubspot-crm/reviews', 'https://www.g2.com/products/mailchimp-intuit-mailchimp/reviews', 'https://www.g2.com/products/monday-com/reviews', 'https://www.g2.com/products/quickbooks-online/reviews', 'https://www.g2.com/products/bloomerang/reviews']) }}"
            },
            {
              "id": "capterraProductUrls",
              "name": "capterraProductUrls",
              "type": "string",
              "value": "={{ JSON.stringify($json.body && $json.body.capterraProductUrls ? $json.body.capterraProductUrls : ['https://www.capterra.com/p/140827/HubSpot/', 'https://www.capterra.com/p/233073/monday-com/', 'https://www.capterra.com/p/140127/Mailchimp/', 'https://www.capterra.com/p/205656/Bloomerang/', 'https://www.capterra.com/p/16666/QuickBooks/']) }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "name": "Scrape Reddit",
      "id": "scrape-reddit",
      "onError": "continueRegularOutput",
      "typeVersion": 1,
      "position": [
        608,
        256
      ],
      "type": "@apify/n8n-nodes-apify.apify",
      "parameters": {
        "actorId": "trudax~reddit-scraper-lite",
        "operation": "Run actor and get dataset",
        "customBody": "={{ JSON.stringify({ searches: $json.keywords.split(',').map(k => k.trim()), sort: 'new', time: 'month', maxItems: $json.maxResults, maxPostCount: $json.maxResults, searchPosts: true, proxy: { useApifyProxy: true, apifyProxyGroups: ['RESIDENTIAL'] } }) }}"
      },
      "credentials": {
        "apifyApi": {
          "id": "8NpkWWjCZpHPCNAB",
          "name": "Apify account"
        }
      }
    },
    {
      "name": "Scrape Google Maps",
      "id": "scrape-gmaps",
      "onError": "continueRegularOutput",
      "typeVersion": 1,
      "position": [
        608,
        560
      ],
      "type": "@apify/n8n-nodes-apify.apify",
      "parameters": {
        "actorId": "compass~crawler-google-places",
        "operation": "Run actor and get dataset",
        "customBody": "={{ JSON.stringify({ searchStringsArray: $json.keywords.split(',').map(k => k.trim()), maxCrawledPlacesPerSearch: Math.ceil($json.maxResults / 3), language: 'en', maxReviews: 10 }) }}"
      },
      "credentials": {
        "apifyApi": {
          "id": "8NpkWWjCZpHPCNAB",
          "name": "Apify account"
        }
      }
    },
    {
      "name": "Extract Reddit Results",
      "id": "extract-reddit",
      "typeVersion": 2,
      "position": [
        912,
        256
      ],
      "type": "n8n-nodes-base.code",
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\nfor (const item of items.slice(0, 30)) {\n  const d = item.json;\n  results.push({ json: { platform: 'reddit', content_type: 'social_post', title: d.title || '', body: (d.body || d.text || d.selftext || '').substring(0, 2000), url: d.url || '', author: d.author || '', score: d.score || d.upVotes || 0, created_at: d.createdAt || d.created || new Date().toISOString() } });\n}\nreturn results.length > 0 ? results : [{ json: { _empty: true, platform: 'reddit' } }];"
      }
    },
    {
      "name": "Extract GMaps Results",
      "id": "extract-gmaps",
      "typeVersion": 2,
      "position": [
        912,
        560
      ],
      "type": "n8n-nodes-base.code",
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\nfor (const place of items) {\n  const d = place.json;\n  const reviews = d.reviews || [];\n  const placeUrl = d.url || d.placeUrl || '';\n  for (const review of reviews.slice(0, 10)) {\n    const author = review.name || review.reviewerName || 'anonymous';\n    const dateStr = review.publishedAtDate || '';\n    const safeAuthor = author.replace(/[^a-zA-Z0-9]/g, '-').substring(0, 40);\n    const safeDate = dateStr.replace(/[^a-zA-Z0-9]/g, '-').substring(0, 20);\n    const uniqueUrl = placeUrl ? `${placeUrl}#review-${safeAuthor}-${safeDate}` : '';\n    results.push({ json: { platform: 'google_maps', content_type: 'review', title: d.title || d.name || '', body: (review.text || review.textTranslated || '').substring(0, 2000), url: uniqueUrl, author: author, score: review.stars || 0, created_at: review.publishedAtDate || new Date().toISOString() } });\n  }\n  if (reviews.length === 0) {\n    results.push({ json: { platform: 'google_maps', content_type: 'listing', title: d.title || d.name || '', body: (d.description || d.categoryName || '').substring(0, 2000), url: placeUrl, author: '', score: d.totalScore || 0, created_at: new Date().toISOString() } });\n  }\n}\nreturn results.length > 0 ? results : [{ json: { _empty: true, platform: 'google_maps' } }];"
      }
    },
    {
      "name": "Filter Non-Empty",
      "id": "filter-nonempty",
      "typeVersion": 2,
      "position": [
        1456,
        400
      ],
      "type": "n8n-nodes-base.if",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-content",
              "leftValue": "={{ $json._empty === true }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "name": "POST Raw to Market Intel",
      "id": "ingest-market",
      "typeVersion": 4.2,
      "position": [
        1712,
        200
      ],
      "type": "n8n-nodes-base.httpRequest",
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.PORTFOLIO_BASE_URL }}/api/admin/value-evidence/ingest-market",
        "specifyBody": "json",
        "sendBody": true,
        "sendHeaders": true,
        "jsonBody": "={{ JSON.stringify({ items: [{ source_platform: $json.platform, content_text: ($json.title || '') + (($json.title && $json.body) ? '\\n\\n' : '') + ($json.body || ''), content_type: $json.content_type === 'social_post' ? 'post' : ($json.content_type === 'review' ? 'review' : 'other'), source_url: $json.url || '', source_author: $json.author || '' }] }) }}",
        "options": {},
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.N8N_INGEST_SECRET }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      }
    },
    {
      "name": "Bundle for AI",
      "id": "bundle-for-ai",
      "typeVersion": 2,
      "position": [
        1712,
        600
      ],
      "type": "n8n-nodes-base.code",
      "parameters": {
        "jsCode": "const items = $input.all();\nconst batchSize = 10;\nconst batches = [];\nfor (let i = 0; i < items.length; i += batchSize) {\n  const batch = items.slice(i, i + batchSize);\n  const contentList = batch.map((item, idx) => {\n    const d = item.json;\n    return `--- Item ${idx + 1} ---\\nPlatform: ${d.platform}\\nTitle: ${d.title}\\nContent: ${(d.body || '').substring(0, 800)}\\nURL: ${d.url || ''}`;\n  }).join('\\n\\n');\n  batches.push({ json: { batchIndex: Math.floor(i / batchSize), itemCount: batch.length, contentList: contentList } });\n}\nreturn batches.length > 0 ? batches : [{ json: { _skip: true } }];"
      }
    },
    {
      "name": "AI Classify Social Content",
      "id": "ai-classify-social",
      "onError": "continueRegularOutput",
      "typeVersion": 4.2,
      "position": [
        1960,
        600
      ],
      "type": "n8n-nodes-base.httpRequest",
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 4000, messages: [{ role: 'user', content: 'You are a business pain point classifier for ' + $('Set Search Parameters').first().json.industry + ' companies.\\n\\nAnalyze these ' + $json.itemCount + ' social media items and extract business pain points:\\n\\n' + $json.contentList + '\\n\\nMap each pain point to ONE of these existing categories (use the exact name):\\n- manual_data_entry: Time spent on repetitive data entry tasks that could be automated\\n- slow_response_times: Delayed responses to client inquiries leading to lost opportunities\\n- inconsistent_followup: Leads falling through the cracks due to lack of systematic follow-up\\n- scattered_tools: Using multiple disconnected tools leading to lost context and double-work\\n- manual_reporting: Hours spent creating reports that could be auto-generated\\n- poor_lead_qualification: Wasting time on unqualified leads due to lack of scoring/filtering\\n- knowledge_loss: Critical business knowledge lives in peoples heads, not systems\\n- scaling_bottlenecks: Manual processes preventing business growth beyond current capacity\\n- employee_onboarding: New hires take too long to become productive due to poor systems\\n- customer_churn: Losing customers due to reactive rather than proactive engagement\\n\\nReturn a JSON array of pain points found across ALL items. Each object should have:\\n- category: one of the exact category names listed above\\n- severity: high, medium, or low\\n- confidence_score: 0.0 to 1.0\\n- source_excerpt: the relevant quote (max 200 chars)\\n- monetary_indicator: any dollar amount or time cost mentioned (or null)\\n\\nOnly classify content that genuinely relates to a business pain point. Skip irrelevant content.\\nIf no relevant pain points found in any item, return an empty array [].\\nReturn ONLY valid JSON. No explanation.' }] }) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "mAKMzoCV2v6m2QoM",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "name": "Parse AI Response",
      "id": "parse-ai-response",
      "typeVersion": 2,
      "position": [
        2200,
        600
      ],
      "type": "n8n-nodes-base.code",
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\nconst industry = $('Set Search Parameters').first().json.industry;\n\nfunction parseMonetary(val) {\n  if (val == null) return null;\n  if (typeof val === 'number') return val;\n  const str = String(val);\n  const match = str.match(/\\$?([\\d,]+\\.?\\d*)/);\n  if (match) return parseFloat(match[1].replace(/,/g, ''));\n  return null;\n}\n\nfor (const item of items) {\n  try {\n    const aiResponse = item.json;\n    let textContent = '';\n    if (aiResponse.content && Array.isArray(aiResponse.content)) {\n      textContent = aiResponse.content.map(c => c.text || '').join('');\n    } else if (typeof aiResponse.text === 'string') {\n      textContent = aiResponse.text;\n    } else if (typeof aiResponse.message === 'object' && aiResponse.message?.content) {\n      textContent = Array.isArray(aiResponse.message.content)\n        ? aiResponse.message.content.map(c => c.text || '').join('')\n        : String(aiResponse.message.content);\n    }\n    const jsonMatch = textContent.match(/\\[[\\s\\S]*\\]/);\n    if (!jsonMatch) continue;\n    const painPoints = JSON.parse(jsonMatch[0]);\n    for (const pp of painPoints) {\n      if (!pp.category || !pp.severity) continue;\n      results.push({ json: { pain_point_category_name: pp.category, source_type: 'market_intelligence', source_id: pp.source_excerpt ? pp.source_excerpt.substring(0, 50) : 'social_scrape', source_excerpt: (pp.source_excerpt || '').substring(0, 500), confidence_score: pp.confidence_score ?? 0.4, monetary_indicator: parseMonetary(pp.monetary_indicator), monetary_context: (typeof pp.monetary_indicator === 'string' && pp.monetary_indicator) ? pp.monetary_indicator : null, industry: industry || null } });\n    }\n  } catch (err) { /* skip */ }\n}\nreturn results.length > 0 ? results : [{ json: { _skip: true } }];"
      }
    },
    {
      "name": "Filter Valid Pain Points",
      "id": "filter-valid-pp",
      "typeVersion": 2,
      "position": [
        2440,
        600
      ],
      "type": "n8n-nodes-base.if",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-pp",
              "leftValue": "={{ $json._skip === true }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "name": "POST Pain Points",
      "id": "post-pain-points",
      "typeVersion": 4.2,
      "position": [
        2680,
        500
      ],
      "type": "n8n-nodes-base.httpRequest",
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.PORTFOLIO_BASE_URL }}/api/admin/value-evidence/ingest",
        "specifyBody": "json",
        "sendBody": true,
        "sendHeaders": true,
        "jsonBody": "={{ JSON.stringify({ evidence: [{ pain_point_category_name: $json.pain_point_category_name, source_type: $json.source_type, source_id: $json.source_id, source_excerpt: $json.source_excerpt, confidence_score: $json.confidence_score, monetary_indicator: $json.monetary_indicator, monetary_context: $json.monetary_context, industry: $json.industry }] }) }}",
        "options": {},
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.N8N_INGEST_SECRET }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      }
    },
    {
      "id": "scrape-linkedin",
      "name": "Scrape LinkedIn",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        608,
        800
      ],
      "parameters": {
        "actorId": "harvestapi~linkedin-post-search",
        "operation": "Run actor and get dataset",
        "customBody": "={{ JSON.stringify({ searchQueries: JSON.parse($json.linkedinKeywords), maxPosts: $json.maxResults, postedLimit: 'month', sortBy: 'date' }) }}"
      },
      "credentials": {
        "apifyApi": {
          "id": "8NpkWWjCZpHPCNAB",
          "name": "Apify account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "extract-linkedin",
      "name": "Extract LinkedIn Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        800
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\nfor (const item of items.slice(0, 30)) {\n  const d = item.json;\n  const body = String(d.content || d.text || d.commentary || '').substring(0, 2000);\n  if (!body || body.length < 20) continue;\n  const authorName = (d.author && typeof d.author === 'object') ? (d.author.name || '') : String(d.author || '');\n  const postDate = (d.postedAt && typeof d.postedAt === 'object') ? (d.postedAt.date || '') : String(d.postedAt || '');\n  results.push({\n    json: {\n      platform: 'linkedin',\n      content_type: 'post',\n      title: '',\n      body: body,\n      url: d.linkedinUrl || d.url || d.postUrl || '',\n      author: authorName,\n      score: (d.socialDetail && d.socialDetail.totalSocialActivityCounts) ? (d.socialDetail.totalSocialActivityCounts.numLikes || 0) : (d.numLikes || d.likeCount || 0),\n      created_at: postDate || new Date().toISOString()\n    }\n  });\n}\nreturn results.length > 0 ? results : [{ json: { _empty: true, platform: 'linkedin' } }];"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "scrape-g2",
      "name": "Scrape G2 Reviews",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        1060
      ],
      "parameters": {
        "jsCode": "const urls = JSON.parse($json.g2ProductUrls);\nconst results = [];\nfor (const url of urls) {\n  results.push({ json: { url: url, maxReviews: 10, lookbackDays: 90 } });\n}\nreturn results;"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "run-g2-actor",
      "name": "Run G2 Actor",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        912,
        1060
      ],
      "parameters": {
        "actorId": "focused_vanguard~g2-reviews-scraper",
        "operation": "Run actor and get dataset",
        "customBody": "={{ JSON.stringify({ url: $json.url, maxReviews: $json.maxReviews, lookbackDays: $json.lookbackDays || 90 }) }}"
      },
      "credentials": {
        "apifyApi": {
          "id": "8NpkWWjCZpHPCNAB",
          "name": "Apify account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "extract-g2",
      "name": "Extract G2 Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        1060
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\nfor (const item of items.slice(0, 50)) {\n  const d = item.json;\n  const pros = d.pros || d.advantages || '';\n  const cons = d.cons || d.disadvantages || '';\n  const review = d.content || d.review_text || d.text || d.comment || d.review || '';\n  const body = [pros ? `Pros: ${pros}` : '', cons ? `Cons: ${cons}` : '', review].filter(Boolean).join('\\n').substring(0, 2000);\n  if (!body || body.length < 20) continue;\n  // Build unique URL: use the review's unique id from the actor, or fall back to product URL + author hash\n  let reviewUrl = '';\n  if (d.id) {\n    const productUrl = d.product_url || d.review_url || d.url || '';\n    const baseUrl = productUrl.split('?')[0];\n    reviewUrl = baseUrl ? `${baseUrl}#${d.id}` : d.id;\n  } else {\n    const productUrl = d.product_url || d.review_url || d.url || '';\n    const author = d.author || d.reviewer_name || d.reviewerName || 'anon';\n    const date = d.date_posted || d.date || d.published_date || d.publishedDate || '';\n    const safeAuthor = author.replace(/[^a-zA-Z0-9]/g, '-').substring(0, 40);\n    const safeDate = date.replace(/[^a-zA-Z0-9]/g, '-').substring(0, 20);\n    reviewUrl = productUrl ? `${productUrl.split('?')[0]}#review-${safeAuthor}-${safeDate}` : `g2-review-${safeAuthor}-${safeDate}`;\n  }\n  results.push({\n    json: {\n      platform: 'g2',\n      content_type: 'review',\n      title: d.title || d.product_name || d.productName || '',\n      body: body,\n      url: reviewUrl,\n      author: d.author || d.reviewer_name || d.reviewerName || '',\n      score: d.rating || d.star_rating || d.overall_rating || 0,\n      created_at: d.date_posted || d.date || d.published_date || d.publishedDate || new Date().toISOString()\n    }\n  });\n}\nreturn results.length > 0 ? results : [{ json: { _empty: true, platform: 'g2' } }];"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "scrape-capterra",
      "name": "Scrape Capterra Reviews",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        1320
      ],
      "parameters": {
        "jsCode": "const urls = JSON.parse($json.capterraProductUrls);\nconst results = [];\nfor (const url of urls) {\n  results.push({ json: { url: url, maxReviews: 10 } });\n}\nreturn results;"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "run-capterra-actor",
      "name": "Run Capterra Actor",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        912,
        1320
      ],
      "parameters": {
        "actorId": "dionysus_way~capterra-reviews",
        "operation": "Run actor and get dataset",
        "customBody": "={{ JSON.stringify({ startUrls: [$json.url], maxReviews: $json.maxReviews }) }}"
      },
      "credentials": {
        "apifyApi": {
          "id": "8NpkWWjCZpHPCNAB",
          "name": "Apify account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "extract-capterra",
      "name": "Extract Capterra Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        1320
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\nfor (const item of items.slice(0, 50)) {\n  const d = item.json;\n  const pros = d.pros || d.advantages || '';\n  const cons = d.cons || d.disadvantages || '';\n  const overall = d.comments || d.overall || d.text || d.review || d.comment || '';\n  const body = [pros ? `Pros: ${pros}` : '', cons ? `Cons: ${cons}` : '', overall ? `Overall: ${overall}` : ''].filter(Boolean).join('\\n').substring(0, 2000);\n  if (!body || body.length < 20) continue;\n  // Capterra actor provides unique reviewUrl per review\n  const reviewUrl = d.reviewUrl || d.review_url || '';\n  let uniqueUrl = reviewUrl;\n  if (!uniqueUrl) {\n    const productUrl = d.productUrl || d.url || '';\n    if (d.id) {\n      uniqueUrl = productUrl ? `${productUrl}#capterra-${d.id}` : `capterra-review-${d.id}`;\n    } else {\n      const author = d.author || d.reviewer || 'anon';\n      const date = d.date || '';\n      const safeAuthor = author.replace(/[^a-zA-Z0-9]/g, '-').substring(0, 40);\n      const safeDate = date.replace(/[^a-zA-Z0-9]/g, '-').substring(0, 20);\n      uniqueUrl = productUrl ? `${productUrl}#review-${safeAuthor}-${safeDate}` : `capterra-review-${safeAuthor}-${safeDate}`;\n    }\n  }\n  results.push({\n    json: {\n      platform: 'capterra',\n      content_type: 'review',\n      title: d.title || d.product_name || d.productName || '',\n      body: body,\n      url: uniqueUrl,\n      author: d.author || d.reviewer || d.reviewerName || d.reviewer_name || '',\n      score: d.rating || d.overallRating || d.overall_rating || 0,\n      created_at: d.date || d.reviewDate || d.published_date || new Date().toISOString()\n    }\n  });\n}\nreturn results.length > 0 ? results : [{ json: { _empty: true, platform: 'capterra' } }];"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "merge-all-content",
      "name": "Merge All Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        800
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items;"
      }
    }
  ],
  "connections": {
    "Scrape Google Maps": {
      "main": [
        [
          {
            "node": "Extract GMaps Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Reddit": {
      "main": [
        [
          {
            "node": "Extract Reddit Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Search Parameters": {
      "main": [
        [
          {
            "node": "Scrape Reddit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scrape Google Maps",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scrape LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scrape G2 Reviews",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scrape Capterra Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Set Search Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Non-Empty": {
      "main": [
        [
          {
            "node": "POST Raw to Market Intel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bundle for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bundle for AI": {
      "main": [
        [
          {
            "node": "AI Classify Social Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classify Social Content": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Filter Valid Pain Points",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Pain Points": {
      "main": [
        [
          {
            "node": "POST Pain Points",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape LinkedIn": {
      "main": [
        [
          {
            "node": "Extract LinkedIn Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape G2 Reviews": {
      "main": [
        [
          {
            "node": "Run G2 Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run G2 Actor": {
      "main": [
        [
          {
            "node": "Extract G2 Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Capterra Reviews": {
      "main": [
        [
          {
            "node": "Run Capterra Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Capterra Actor": {
      "main": [
        [
          {
            "node": "Extract Capterra Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Reddit Results": {
      "main": [
        [
          {
            "node": "Merge All Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract GMaps Results": {
      "main": [
        [
          {
            "node": "Merge All Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract LinkedIn Results": {
      "main": [
        [
          {
            "node": "Merge All Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract G2 Results": {
      "main": [
        [
          {
            "node": "Merge All Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Capterra Results": {
      "main": [
        [
          {
            "node": "Merge All Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Content": {
      "main": [
        [
          {
            "node": "Filter Non-Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2b8a4f96-8e27-4396-b516-9113888d84cf",
  "activeVersionId": "2b8a4f96-8e27-4396-b516-9113888d84cf",
  "versionCounter": 108,
  "triggerCount": 1,
  "activeVersion": {
    "updatedAt": "2026-03-26T17:02:55.126Z",
    "createdAt": "2026-03-26T17:02:55.126Z",
    "versionId": "2b8a4f96-8e27-4396-b516-9113888d84cf",
    "workflowId": "gUyOBZOknpAt41aF",
    "nodes": [
      {
        "name": "Webhook Trigger",
        "webhookId": "c8e0dcb1-35f3-4f74-9311-3d78e4d06bcf",
        "id": "webhook-trigger",
        "typeVersion": 2,
        "position": [
          0,
          400
        ],
        "type": "n8n-nodes-base.webhook",
        "parameters": {
          "httpMethod": "POST",
          "path": "vep-002-social",
          "options": {}
        }
      },
      {
        "name": "WF-VEP-002 Overview",
        "id": "sticky-overview",
        "typeVersion": 1,
        "position": [
          -288,
          -304
        ],
        "type": "n8n-nodes-base.stickyNote",
        "parameters": {
          "content": "## WF-VEP-002: Social Listening Pipeline\n\nFlow: Webhook \u2192 Scrape 5 platforms (Reddit, Google Maps, LinkedIn, G2, Capterra) \u2192 Extract \u2192 Merge All \u2192 Filter \u2192 POST Market Intel + AI Classify (batched) \u2192 POST Pain Points\n\nPlatforms: Reddit (keyword search), Google Maps (place reviews), LinkedIn (post search), G2 (product reviews), Capterra (product reviews)\n\nEnvironment vars: PORTFOLIO_BASE_URL, N8N_INGEST_SECRET",
          "height": 200,
          "width": 440
        }
      },
      {
        "name": "Setup Notes",
        "id": "sticky-setup",
        "typeVersion": 1,
        "position": [
          -288,
          96
        ],
        "type": "n8n-nodes-base.stickyNote",
        "parameters": {
          "content": "## Required Setup\n1. Apify credentials\n2. Anthropic credentials (HTTP Header Auth)\n3. Env vars: PORTFOLIO_BASE_URL, N8N_INGEST_SECRET",
          "height": 160,
          "width": 432
        }
      },
      {
        "name": "Set Search Parameters",
        "id": "set-params",
        "typeVersion": 3.4,
        "position": [
          288,
          400
        ],
        "type": "n8n-nodes-base.set",
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "industry",
                "name": "industry",
                "type": "string",
                "value": "={{ $json.body && $json.body.industry ? $json.body.industry : 'small_business' }}"
              },
              {
                "id": "searchTerms",
                "name": "searchTerms",
                "type": "string",
                "value": "={{ JSON.stringify($json.body && $json.body.searchTerms ? $json.body.searchTerms : ['small business technology challenges', 'nonprofit operations software pain points', 'minority business owner automation struggles']) }}"
              },
              {
                "id": "googleMapsQuery",
                "name": "googleMapsQuery",
                "type": "string",
                "value": "={{ $json.body && $json.body.googleMapsQuery ? $json.body.googleMapsQuery : 'IT consulting small business' }}"
              },
              {
                "id": "maxResults",
                "name": "maxResults",
                "type": "number",
                "value": "={{ $json.body && $json.body.maxResults ? $json.body.maxResults : 20 }}"
              },
              {
                "id": "linkedinKeywords",
                "name": "linkedinKeywords",
                "type": "string",
                "value": "={{ JSON.stringify($json.body && $json.body.linkedinKeywords ? $json.body.linkedinKeywords : ['small business automation challenges', 'nonprofit technology struggles', 'black owned business operations']) }}"
              },
              {
                "id": "g2ProductUrls",
                "name": "g2ProductUrls",
                "type": "string",
                "value": "={{ JSON.stringify($json.body && $json.body.g2ProductUrls ? $json.body.g2ProductUrls : ['https://www.g2.com/products/hubspot-crm/reviews', 'https://www.g2.com/products/mailchimp-intuit-mailchimp/reviews', 'https://www.g2.com/products/monday-com/reviews', 'https://www.g2.com/products/quickbooks-online/reviews', 'https://www.g2.com/products/bloomerang/reviews']) }}"
              },
              {
                "id": "capterraProductUrls",
                "name": "capterraProductUrls",
                "type": "string",
                "value": "={{ JSON.stringify($json.body && $json.body.capterraProductUrls ? $json.body.capterraProductUrls : ['https://www.capterra.com/p/140827/HubSpot/', 'https://www.capterra.com/p/233073/monday-com/', 'https://www.capterra.com/p/140127/Mailchimp/', 'https://www.capterra.com/p/205656/Bloomerang/', 'https://www.capterra.com/p/16666/QuickBooks/']) }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "name": "Scrape Reddit",
        "id": "scrape-reddit",
        "onError": "continueRegularOutput",
        "typeVersion": 1,
        "position": [
          608,
          256
        ],
        "type": "@apify/n8n-nodes-apify.apify",
        "parameters": {
          "actorId": "trudax~reddit-scraper-lite",
          "operation": "Run actor and get dataset",
          "customBody": "={{ JSON.stringify({ searches: $json.keywords.split(',').map(k => k.trim()), sort: 'new', time: 'month', maxItems: $json.maxResults, maxPostCount: $json.maxResults, searchPosts: true, proxy: { useApifyProxy: true, apifyProxyGroups: ['RESIDENTIAL'] } }) }}"
        },
        "credentials": {
          "apifyApi": {
            "id": "8NpkWWjCZpHPCNAB",
            "name": "Apify account"
          }
        }
      },
      {
        "name": "Scrape Google Maps",
        "id": "scrape-gmaps",
        "onError": "continueRegularOutput",
        "typeVersion": 1,
        "position": [
          608,
          560
        ],
        "type": "@apify/n8n-nodes-apify.apify",
        "parameters": {
          "actorId": "compass~crawler-google-places",
          "operation": "Run actor and get dataset",
          "customBody": "={{ JSON.stringify({ searchStringsArray: $json.keywords.split(',').map(k => k.trim()), maxCrawledPlacesPerSearch: Math.ceil($json.maxResults / 3), language: 'en', maxReviews: 10 }) }}"
        },
        "credentials": {
          "apifyApi": {
            "id": "8NpkWWjCZpHPCNAB",
            "name": "Apify account"
          }
        }
      },
      {
        "name": "Extract Reddit Results",
        "id": "extract-reddit",
        "typeVersion": 2,
        "position": [
          912,
          256
        ],
        "type": "n8n-nodes-base.code",
        "parameters": {
          "jsCode": "const items = $input.all();\nconst results = [];\nfor (const item of items.slice(0, 30)) {\n  const d = item.json;\n  results.push({ json: { platform: 'reddit', content_type: 'social_post', title: d.title || '', body: (d.body || d.text || d.selftext || '').substring(0, 2000), url: d.url || '', author: d.author || '', score: d.score || d.upVotes || 0, created_at: d.createdAt || d.created || new Date().toISOString() } });\n}\nreturn results.length > 0 ? results : [{ json: { _empty: true, platform: 'reddit' } }];"
        }
      },
      {
        "name": "Extract GMaps Results",
        "id": "extract-gmaps",
        "typeVersion": 2,
        "position": [
          912,
          560
        ],
        "type": "n8n-nodes-base.code",
        "parameters": {
          "jsCode": "const items = $input.all();\nconst results = [];\nfor (const place of items) {\n  const d = place.json;\n  const reviews = d.reviews || [];\n  const placeUrl = d.url || d.placeUrl || '';\n  for (const review of reviews.slice(0, 10)) {\n    const author = review.name || review.reviewerName || 'anonymous';\n    const dateStr = review.publishedAtDate || '';\n    const safeAuthor = author.replace(/[^a-zA-Z0-9]/g, '-').substring(0, 40);\n    const safeDate = dateStr.replace(/[^a-zA-Z0-9]/g, '-').substring(0, 20);\n    const uniqueUrl = placeUrl ? `${placeUrl}#review-${safeAuthor}-${safeDate}` : '';\n    results.push({ json: { platform: 'google_maps', content_type: 'review', title: d.title || d.name || '', body: (review.text || review.textTranslated || '').substring(0, 2000), url: uniqueUrl, author: author, score: review.stars || 0, created_at: review.publishedAtDate || new Date().toISOString() } });\n  }\n  if (reviews.length === 0) {\n    results.push({ json: { platform: 'google_maps', content_type: 'listing', title: d.title || d.name || '', body: (d.description || d.categoryName || '').substring(0, 2000), url: placeUrl, author: '', score: d.totalScore || 0, created_at: new Date().toISOString() } });\n  }\n}\nreturn results.length > 0 ? results : [{ json: { _empty: true, platform: 'google_maps' } }];"
        }
      },
      {
        "name": "Filter Non-Empty",
        "id": "filter-nonempty",
        "typeVersion": 2,
        "position": [
          1456,
          400
        ],
        "type": "n8n-nodes-base.if",
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "has-content",
                "leftValue": "={{ $json._empty === true }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "equals",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "name": "POST Raw to Market Intel",
        "id": "ingest-market",
        "typeVersion": 4.2,
        "position": [
          1712,
          200
        ],
        "type": "n8n-nodes-base.httpRequest",
        "parameters": {
          "method": "POST",
          "url": "={{ $vars.PORTFOLIO_BASE_URL }}/api/admin/value-evidence/ingest-market",
          "specifyBody": "json",
          "sendBody": true,
          "sendHeaders": true,
          "jsonBody": "={{ JSON.stringify({ items: [{ source_platform: $json.platform, content_text: ($json.title || '') + (($json.title && $json.body) ? '\\n\\n' : '') + ($json.body || ''), content_type: $json.content_type === 'social_post' ? 'post' : ($json.content_type === 'review' ? 'review' : 'other'), source_url: $json.url || '', source_author: $json.author || '' }] }) }}",
          "options": {},
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $vars.N8N_INGEST_SECRET }}"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      {
        "name": "Bundle for AI",
        "id": "bundle-for-ai",
        "typeVersion": 2,
        "position": [
          1712,
          600
        ],
        "type": "n8n-nodes-base.code",
        "parameters": {
          "jsCode": "const items = $input.all();\nconst batchSize = 10;\nconst batches = [];\nfor (let i = 0; i < items.length; i += batchSize) {\n  const batch = items.slice(i, i + batchSize);\n  const contentList = batch.map((item, idx) => {\n    const d = item.json;\n    return `--- Item ${idx + 1} ---\\nPlatform: ${d.platform}\\nTitle: ${d.title}\\nContent: ${(d.body || '').substring(0, 800)}\\nURL: ${d.url || ''}`;\n  }).join('\\n\\n');\n  batches.push({ json: { batchIndex: Math.floor(i / batchSize), itemCount: batch.length, contentList: contentList } });\n}\nreturn batches.length > 0 ? batches : [{ json: { _skip: true } }];"
        }
      },
      {
        "name": "AI Classify Social Content",
        "id": "ai-classify-social",
        "onError": "continueRegularOutput",
        "typeVersion": 4.2,
        "position": [
          1960,
          600
        ],
        "type": "n8n-nodes-base.httpRequest",
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 4000, messages: [{ role: 'user', content: 'You are a business pain point classifier for ' + $('Set Search Parameters').first().json.industry + ' companies.\\n\\nAnalyze these ' + $json.itemCount + ' social media items and extract business pain points:\\n\\n' + $json.contentList + '\\n\\nMap each pain point to ONE of these existing categories (use the exact name):\\n- manual_data_entry: Time spent on repetitive data entry tasks that could be automated\\n- slow_response_times: Delayed responses to client inquiries leading to lost opportunities\\n- inconsistent_followup: Leads falling through the cracks due to lack of systematic follow-up\\n- scattered_tools: Using multiple disconnected tools leading to lost context and double-work\\n- manual_reporting: Hours spent creating reports that could be auto-generated\\n- poor_lead_qualification: Wasting time on unqualified leads due to lack of scoring/filtering\\n- knowledge_loss: Critical business knowledge lives in peoples heads, not systems\\n- scaling_bottlenecks: Manual processes preventing business growth beyond current capacity\\n- employee_onboarding: New hires take too long to become productive due to poor systems\\n- customer_churn: Losing customers due to reactive rather than proactive engagement\\n\\nReturn a JSON array of pain points found across ALL items. Each object should have:\\n- category: one of the exact category names listed above\\n- severity: high, medium, or low\\n- confidence_score: 0.0 to 1.0\\n- source_excerpt: the relevant quote (max 200 chars)\\n- monetary_indicator: any dollar amount or time cost mentioned (or null)\\n\\nOnly classify content that genuinely relates to a business pain point. Skip irrelevant content.\\nIf no relevant pain points found in any item, return an empty array [].\\nReturn ONLY valid JSON. No explanation.' }] }) }}",
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "mAKMzoCV2v6m2QoM",
            "name": "Anthropic API Key"
          }
        }
      },
      {
        "name": "Parse AI Response",
        "id": "parse-ai-response",
        "typeVersion": 2,
        "position": [
          2200,
          600
        ],
        "type": "n8n-nodes-base.code",
        "parameters": {
          "jsCode": "const items = $input.all();\nconst results = [];\nconst industry = $('Set Search Parameters').first().json.industry;\n\nfunction parseMonetary(val) {\n  if (val == null) return null;\n  if (typeof val === 'number') return val;\n  const str = String(val);\n  const match = str.match(/\\$?([\\d,]+\\.?\\d*)/);\n  if (match) return parseFloat(match[1].replace(/,/g, ''));\n  return null;\n}\n\nfor (const item of items) {\n  try {\n    const aiResponse = item.json;\n    let textContent = '';\n    if (aiResponse.content && Array.isArray(aiResponse.content)) {\n      textContent = aiResponse.content.map(c => c.text || '').join('');\n    } else if (typeof aiResponse.text === 'string') {\n      textContent = aiResponse.text;\n    } else if (typeof aiResponse.message === 'object' && aiResponse.message?.content) {\n      textContent = Array.isArray(aiResponse.message.content)\n        ? aiResponse.message.content.map(c => c.text || '').join('')\n        : String(aiResponse.message.content);\n    }\n    const jsonMatch = textContent.match(/\\[[\\s\\S]*\\]/);\n    if (!jsonMatch) continue;\n    const painPoints = JSON.parse(jsonMatch[0]);\n    for (const pp of painPoints) {\n      if (!pp.category || !pp.severity) continue;\n      results.push({ json: { pain_point_category_name: pp.category, source_type: 'market_intelligence', source_id: pp.source_excerpt ? pp.source_excerpt.substring(0, 50) : 'social_scrape', source_excerpt: (pp.source_excerpt || '').substring(0, 500), confidence_score: pp.confidence_score ?? 0.4, monetary_indicator: parseMonetary(pp.monetary_indicator), monetary_context: (typeof pp.monetary_indicator === 'string' && pp.monetary_indicator) ? pp.monetary_indicator : null, industry: industry || null } });\n    }\n  } catch (err) { /* skip */ }\n}\nreturn results.length > 0 ? results : [{ json: { _skip: true } }];"
        }
      },
      {
        "name": "Filter Valid Pain Points",
        "id": "filter-valid-pp",
        "typeVersion": 2,
        "position": [
          2440,
          600
        ],
        "type": "n8n-nodes-base.if",
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "has-pp",
                "leftValue": "={{ $json._skip === true }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "equals",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "name": "POST Pain Points",
        "id": "post-pain-points",
        "typeVersion": 4.2,
        "position": [
          2680,
          500
        ],
        "type": "n8n-nodes-base.httpRequest",
        "parameters": {
          "method": "POST",
          "url": "={{ $vars.PORTFOLIO_BASE_URL }}/api/admin/value-evidence/ingest",
          "specifyBody": "json",
          "sendBody": true,
          "sendHeaders": true,
          "jsonBody": "={{ JSON.stringify({ evidence: [{ pain_point_category_name: $json.pain_point_category_name, source_type: $json.source_type, source_id: $json.source_id, source_excerpt: $json.source_excerpt, confidence_score: $json.confidence_score, monetary_indicator: $json.monetary_indicator, monetary_context: $json.monetary_context, industry: $json.industry }] }) }}",
          "options": {},
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $vars.N8N_INGEST_SECRET }}"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      {
        "id": "scrape-linkedin",
        "name": "Scrape LinkedIn",
        "type": "@apify/n8n-nodes-apify.apify",
        "typeVersion": 1,
        "position": [
          608,
          800
        ],
        "parameters": {
          "actorId": "harvestapi~linkedin-post-search",
          "operation": "Run actor and get dataset",
          "customBody": "={{ JSON.stringify({ searchQueries: JSON.parse($json.linkedinKeywords), maxPosts: $json.maxResults, postedLimit: 'month', sortBy: 'date' }) }}"
        },
        "credentials": {
          "apifyApi": {
            "id": "8NpkWWjCZpHPCNAB",
            "name": "Apify account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "id": "extract-linkedin",
        "name": "Extract LinkedIn Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          912,
          800
        ],
        "parameters": {
          "jsCode": "const items = $input.all();\nconst results = [];\nfor (const item of items.slice(0, 30)) {\n  const d = item.json;\n  const body = String(d.content || d.text || d.commentary || '').substring(0, 2000);\n  if (!body || body.length < 20) continue;\n  const authorName = (d.author && typeof d.author === 'object') ? (d.author.name || '') : String(d.author || '');\n  const postDate = (d.postedAt && typeof d.postedAt === 'object') ? (d.postedAt.date || '') : String(d.postedAt || '');\n  results.push({\n    json: {\n      platform: 'linkedin',\n      content_type: 'post',\n      title: '',\n      body: body,\n      url: d.linkedinUrl || d.url || d.postUrl || '',\n      author: authorName,\n      score: (d.socialDetail && d.socialDetail.totalSocialActivityCounts) ? (d.socialDetail.totalSocialActivityCounts.numLikes || 0) : (d.numLikes || d.likeCount || 0),\n      created_at: postDate || new Date().toISOString()\n    }\n  });\n}\nreturn results.length > 0 ? results : [{ json: { _empty: true, platform: 'linkedin' } }];"
        },
        "onError": "continueRegularOutput"
      },
      {
        "id": "scrape-g2",
        "name": "Scrape G2 Reviews",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          1060
        ],
        "parameters": {
          "jsCode": "const urls = JSON.parse($json.g2ProductUrls);\nconst results = [];\nfor (const url of urls) {\n  results.push({ json: { url: url, maxReviews: 10, lookbackDays: 90 } });\n}\nreturn results;"
        },
        "onError": "continueRegularOutput"
      },
      {
        "id": "run-g2-actor",
        "name": "Run G2 Actor",
        "type": "@apify/n8n-nodes-apify.apify",
        "typeVersion": 1,
        "position": [
          912,
          1060
        ],
        "parameters": {
          "actorId": "focused_vanguard~g2-reviews-scraper",
          "operation": "Run actor and get dataset",
          "customBody": "={{ JSON.stringify({ url: $json.url, maxReviews: $json.maxReviews, lookbackDays: $json.lookbackDays || 90 }) }}"
        },
        "credentials": {
          "apifyApi": {
            "id": "8NpkWWjCZpHPCNAB",
            "name": "Apify account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "id": "extract-g2",
        "name": "Extract G2 Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          1060
        ],
        "parameters": {
          "jsCode": "const items = $input.all();\nconst results = [];\nfor (const item of items.slice(0, 50)) {\n  const d = item.json;\n  const pros = d.pros || d.advantages || '';\n  const cons = d.cons || d.disadvantages || '';\n  const review = d.content || d.review_text || d.text || d.comment || d.review || '';\n  const body = [pros ? `Pros: ${pros}` : '', cons ? `Cons: ${cons}` : '', review].filter(Boolean).join('\\n').substring(0, 2000);\n  if (!body || body.length < 20) continue;\n  // Build unique URL: use the review's unique id from the actor, or fall back to product URL + author hash\n  let reviewUrl = '';\n  if (d.id) {\n    const productUrl = d.product_url || d.review_url || d.url || '';\n    const baseUrl = productUrl.split('?')[0];\n    reviewUrl = baseUrl ? `${baseUrl}#${d.id}` : d.id;\n  } else {\n    const productUrl = d.product_url || d.review_url || d.url || '';\n    const author = d.author || d.reviewer_name || d.reviewerName || 'anon';\n    const date = d.date_posted || d.date || d.published_date || d.publishedDate || '';\n    const safeAuthor = author.replace(/[^a-zA-Z0-9]/g, '-').substring(0, 40);\n    const safeDate = date.replace(/[^a-zA-Z0-9]/g, '-').substring(0, 20);\n    reviewUrl = productUrl ? `${productUrl.split('?')[0]}#review-${safeAuthor}-${safeDate}` : `g2-review-${safeAuthor}-${safeDate}`;\n  }\n  results.push({\n    json: {\n      platform: 'g2',\n      content_type: 'review',\n      title: d.title || d.product_name || d.productName || '',\n      body: body,\n      url: reviewUrl,\n      author: d.author || d.reviewer_name || d.reviewerName || '',\n      score: d.rating || d.star_rating || d.overall_rating || 0,\n      created_at: d.date_posted || d.date || d.published_date || d.publishedDate || new Date().toISOString()\n    }\n  });\n}\nreturn results.length > 0 ? results : [{ json: { _empty: true, platform: 'g2' } }];"
        },
        "onError": "continueRegularOutput"
      },
      {
        "id": "scrape-capterra",
        "name": "Scrape Capterra Reviews",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          1320
        ],
        "parameters": {
          "jsCode": "const urls = JSON.parse($json.capterraProductUrls);\nconst results = [];\nfor (const url of urls) {\n  results.push({ json: { url: url, maxReviews: 10 } });\n}\nreturn results;"
        },
        "onError": "continueRegularOutput"
      },
      {
        "id": "run-capterra-actor",
        "name": "Run Capterra Actor",
        "type": "@apify/n8n-nodes-apify.apify",
        "typeVersion": 1,
        "position": [
          912,
          1320
        ],
        "parameters": {
          "actorId": "dionysus_way~capterra-reviews",
          "operation": "Run actor and get dataset",
          "customBody": "={{ JSON.stringify({ startUrls: [$json.url], maxReviews: $json.maxReviews }) }}"
        },
        "credentials": {
          "apifyApi": {
            "id": "8NpkWWjCZpHPCNAB",
            "name": "Apify account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "id": "extract-capterra",
        "name": "Extract Capterra Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          1320
        ],
        "parameters": {
          "jsCode": "const items = $input.all();\nconst results = [];\nfor (const item of items.slice(0, 50)) {\n  const d = item.json;\n  const pros = d.pros || d.advantages || '';\n  const cons = d.cons || d.disadvantages || '';\n  const overall = d.comments || d.overall || d.text || d.review || d.comment || '';\n  const body = [pros ? `Pros: ${pros}` : '', cons ? `Cons: ${cons}` : '', overall ? `Overall: ${overall}` : ''].filter(Boolean).join('\\n').substring(0, 2000);\n  if (!body || body.length < 20) continue;\n  // Capterra actor provides unique reviewUrl per review\n  const reviewUrl = d.reviewUrl || d.review_url || '';\n  let uniqueUrl = reviewUrl;\n  if (!uniqueUrl) {\n    const productUrl = d.productUrl || d.url || '';\n    if (d.id) {\n      uniqueUrl = productUrl ? `${productUrl}#capterra-${d.id}` : `capterra-review-${d.id}`;\n    } else {\n      const author = d.author || d.reviewer || 'anon';\n      const date = d.date || '';\n      const safeAuthor = author.replace(/[^a-zA-Z0-9]/g, '-').substring(0, 40);\n      const safeDate = date.replace(/[^a-zA-Z0-9]/g, '-').substring(0, 20);\n      uniqueUrl = productUrl ? `${productUrl}#review-${safeAuthor}-${safeDate}` : `capterra-review-${safeAuthor}-${safeDate}`;\n    }\n  }\n  results.push({\n    json: {\n      platform: 'capterra',\n      content_type: 'review',\n      title: d.title || d.product_name || d.productName || '',\n      body: body,\n      url: uniqueUrl,\n      author: d.author || d.reviewer || d.reviewerName || d.reviewer_name || '',\n      score: d.rating || d.overallRating || d.overall_rating || 0,\n      created_at: d.date || d.reviewDate || d.published_date || new Date().toISOString()\n    }\n  });\n}\nreturn results.length > 0 ? results : [{ json: { _empty: true, platform: 'capterra' } }];"
        },
        "onError": "continueRegularOutput"
      },
      {
        "id": "merge-all-content",
        "name": "Merge All Content",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1456,
          800
        ],
        "parameters": {
          "jsCode": "const items = $input.all();\nreturn items;"
        }
      }
    ],
    "connections": {
      "Scrape Google Maps": {
        "main": [
          [
            {
              "node": "Extract GMaps Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Scrape Reddit": {
        "main": [
          [
            {
              "node": "Extract Reddit Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Search Parameters": {
        "main": [
          [
            {
              "node": "Scrape Reddit",
              "type": "main",
              "index": 0
            },
            {
              "node": "Scrape Google Maps",
              "type": "main",
              "index": 0
            },
            {
              "node": "Scrape LinkedIn",
              "type": "main",
              "index": 0
            },
            {
              "node": "Scrape G2 Reviews",
              "type": "main",
              "index": 0
            },
            {
              "node": "Scrape Capterra Reviews",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Set Search Parameters",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Non-Empty": {
        "main": [
          [
            {
              "node": "POST Raw to Market Intel",
              "type": "main",
              "index": 0
            },
            {
              "node": "Bundle for AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Bundle for AI": {
        "main": [
          [
            {
              "node": "AI Classify Social Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Classify Social Content": {
        "main": [
          [
            {
              "node": "Parse AI Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse AI Response": {
        "main": [
          [
            {
              "node": "Filter Valid Pain Points",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Valid Pain Points": {
        "main": [
          [
            {
              "node": "POST Pain Points",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Scrape LinkedIn": {
        "main": [
          [
            {
              "node": "Extract LinkedIn Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Scrape G2 Reviews": {
        "main": [
          [
            {
              "node": "Run G2 Actor",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run G2 Actor": {
        "main": [
          [
            {
              "node": "Extract G2 Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Scrape Capterra Reviews": {
        "main": [
          [
            {
              "node": "Run Capterra Actor",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Capterra Actor": {
        "main": [
          [
            {
              "node": "Extract Capterra Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Reddit Results": {
        "main": [
          [
            {
              "node": "Merge All Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract GMaps Results": {
        "main": [
          [
            {
              "node": "Merge All Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract LinkedIn Results": {
        "main": [
          [
            {
              "node": "Merge All Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract G2 Results": {
        "main": [
          [
            {
              "node": "Merge All Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Capterra Results": {
        "main": [
          [
            {
              "node": "Merge All Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge All Content": {
        "main": [
          [
            {
              "node": "Filter Non-Empty",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Vambah Sillah",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-26T17:02:55.497Z",
        "id": 664,
        "workflowId": "gUyOBZOknpAt41aF",
        "versionId": "2b8a4f96-8e27-4396-b516-9113888d84cf",
        "event": "activated",
        "userId": "5ac96893-047a-40c9-8b9a-29b51d7a264d"
      },
      {
        "createdAt": "2026-03-26T17:02:55.275Z",
        "id": 663,
        "workflowId": "gUyOBZOknpAt41aF",
        "versionId": "2b8a4f96-8e27-4396-b516-9113888d84cf",
        "event": "deactivated",
        "userId": "5ac96893-047a-40c9-8b9a-29b51d7a264d"
      }
    ]
  }
}