n8n-exports/WF-VEP-002-Social-Listening-Pipeline.json
{
  "updatedAt": "2026-02-10T18:02:42.325Z",
  "createdAt": "2026-02-10T04:34:38.567Z",
  "id": "jrnaN1yp8nSDKJB9",
  "name": "WF-VEP-002: Social Listening Pipeline",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vep-002-social",
        "options": {}
      },
      "name": "Webhook Trigger",
      "id": "webhook-trigger",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "type": "n8n-nodes-base.webhook",
      "webhookId": "c8e0dcb1-35f3-4f74-9311-3d78e4d06bcf"
    },
    {
      "parameters": {
        "content": "## WF-VEP-002: Social Listening Pipeline\n\nScrapes external platforms for pain point mentions using Apify actors:\n1. Reddit (subreddit search)\n2. Google Maps Reviews (competitor reviews)\n\nFlow:\n- Webhook trigger from admin dashboard\n- Parallel Apify scrapes per platform\n- Raw data ingested to /api/admin/value-evidence/ingest-market\n- AI classifies pain points from scraped content\n- Classified results sent to /api/admin/value-evidence/ingest",
        "height": 250,
        "width": 440
      },
      "name": "WF-VEP-002 Overview",
      "id": "sticky-overview",
      "typeVersion": 1,
      "position": [
        -288,
        -192
      ],
      "type": "n8n-nodes-base.stickyNote"
    },
    {
      "parameters": {
        "content": "## Required Setup\n\n1. **Apify API Token**: Set env var APIFY_API_TOKEN\n2. **Anthropic API Key**: Add as HTTP Header Auth credential\n3. **Environment variables**:\n   - PORTFOLIO_BASE_URL\n   - N8N_INGEST_SECRET\n   - APIFY_API_TOKEN\n4. Customize search keywords in Set Search Parameters node",
        "height": 200,
        "width": 432
      },
      "name": "Setup Notes",
      "id": "sticky-setup",
      "typeVersion": 1,
      "position": [
        -288,
        96
      ],
      "type": "n8n-nodes-base.stickyNote"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "industry",
              "name": "industry",
              "value": "={{ $json.body?.industry || 'marketing_agency' }}",
              "type": "string"
            },
            {
              "id": "keywords",
              "name": "keywords",
              "value": "={{ ($json.body?.keywords || ['agency pain points', 'marketing automation problems', 'client management challenges']).join(',') }}",
              "type": "string"
            },
            {
              "id": "maxResults",
              "name": "maxResults",
              "value": "=20",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Search Parameters",
      "id": "set-params",
      "typeVersion": 3.4,
      "position": [
        288,
        400
      ],
      "type": "n8n-nodes-base.set"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/trudax~reddit-scraper-lite/runs?waitForFinish=120",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.APIFY_API_TOKEN }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"searches\": {{ JSON.stringify($json.keywords.split(',').map(k => k.trim())) }},\n  \"sort\": \"relevance\",\n  \"time\": \"month\",\n  \"maxItems\": {{ $json.maxResults }},\n  \"searchComments\": true,\n  \"searchCommunities\": false\n}",
        "options": {
          "timeout": 180000
        }
      },
      "name": "Scrape Reddit",
      "id": "scrape-reddit",
      "typeVersion": 4.2,
      "position": [
        608,
        256
      ],
      "type": "n8n-nodes-base.httpRequest",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbhtM74echqqYM9t",
          "name": "Apify Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/compass~crawler-google-places/runs?waitForFinish=120",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.APIFY_API_TOKEN }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"searchStringsArray\": {{ JSON.stringify($json.keywords.split(',').slice(0, 3).map(k => k.trim() + ' services')) }},\n  \"maxCrawledPlacesPerSearch\": 5,\n  \"maxReviews\": 10,\n  \"language\": \"en\"\n}",
        "options": {
          "timeout": 180000
        }
      },
      "name": "Scrape Google Maps",
      "id": "scrape-gmaps",
      "typeVersion": 4.2,
      "position": [
        608,
        560
      ],
      "type": "n8n-nodes-base.httpRequest",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbhtM74echqqYM9t",
          "name": "Apify Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst items = response?.data?.defaultDatasetId ? [] : (response?.items || response?.data?.items || []);\nconst results = [];\n\nfor (const item of (items || []).slice(0, 30)) {\n  results.push({\n    json: {\n      platform: 'reddit',\n      content_type: 'social_post',\n      title: item.title || '',\n      body: (item.body || item.text || item.selftext || '').substring(0, 2000),\n      url: item.url || '',\n      author: item.author || '',\n      score: item.score || item.upVotes || 0,\n      created_at: item.createdAt || item.created || new Date().toISOString()\n    }\n  });\n}\n\nreturn results.length > 0 ? results : [{ json: { _empty: true, platform: 'reddit' } }];"
      },
      "name": "Extract Reddit Results",
      "id": "extract-reddit",
      "typeVersion": 2,
      "position": [
        912,
        256
      ],
      "type": "n8n-nodes-base.code"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst items = response?.data?.defaultDatasetId ? [] : (response?.items || response?.data?.items || []);\nconst results = [];\n\nfor (const place of (items || [])) {\n  const reviews = place.reviews || [];\n  for (const review of reviews.slice(0, 10)) {\n    if (review.stars && review.stars <= 3) {\n      results.push({\n        json: {\n          platform: 'google_maps',\n          content_type: 'review',\n          title: place.title || place.name || '',\n          body: (review.text || review.textTranslated || '').substring(0, 2000),\n          url: place.url || place.placeUrl || '',\n          author: review.name || '',\n          score: review.stars || 0,\n          created_at: review.publishedAtDate || new Date().toISOString()\n        }\n      });\n    }\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { _empty: true, platform: 'google_maps' } }];"
      },
      "name": "Extract GMaps Results",
      "id": "extract-gmaps",
      "typeVersion": 2,
      "position": [
        912,
        560
      ],
      "type": "n8n-nodes-base.code"
    },
    {
      "parameters": {},
      "name": "Merge Scraped Content",
      "id": "merge-scraped",
      "typeVersion": 3,
      "position": [
        1200,
        400
      ],
      "type": "n8n-nodes-base.merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-content",
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Filter Non-Empty",
      "id": "filter-nonempty",
      "typeVersion": 2,
      "position": [
        1456,
        400
      ],
      "type": "n8n-nodes-base.if"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://amadutown.com/api/admin/value-evidence/ingest-market",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ingest-secret",
              "value": "={{ $env.N8N_INGEST_SECRET }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"platform\": \"{{ $json.platform }}\",\n  \"content_type\": \"{{ $json.content_type }}\",\n  \"title\": {{ JSON.stringify($json.title) }},\n  \"body\": {{ JSON.stringify($json.body) }},\n  \"url\": \"{{ $json.url }}\",\n  \"author\": {{ JSON.stringify($json.author) }},\n  \"engagement_score\": {{ $json.score || 0 }},\n  \"scraped_at\": \"{{ $json.created_at }}\"\n}",
        "options": {}
      },
      "name": "POST Raw to Market Intel",
      "id": "ingest-market",
      "typeVersion": 4.2,
      "position": [
        1712,
        304
      ],
      "type": "n8n-nodes-base.httpRequest"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "name": "Batch for AI Classification",
      "id": "batch-for-ai",
      "typeVersion": 3,
      "position": [
        1952,
        304
      ],
      "type": "n8n-nodes-base.splitInBatches"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are a business pain point classifier for {{ $('Set Search Parameters').first().json.industry }} companies.\\n\\nAnalyze this social media content and extract business pain points:\\n\\nPlatform: {{ $json.platform }}\\nTitle: {{ $json.title }}\\nContent: {{ $json.body }}\\n\\nReturn a JSON array of pain points found. Each object should have:\\n- category: one of [manual_reporting, slow_onboarding, no_automation, poor_lead_tracking, scattered_data, inconsistent_branding, missed_deadlines, no_analytics, manual_invoicing, poor_communication]\\n- severity: high, medium, or low\\n- confidence_score: 0.0 to 1.0\\n- source_excerpt: the relevant quote (max 200 chars)\\n- monetary_indicator: any dollar amount or time cost mentioned (or null)\\n\\nIf no relevant pain points found, return an empty array [].\\nReturn ONLY valid JSON. No explanation.\"\n    }\n  ]\n}",
        "options": {}
      },
      "name": "AI Classify Social Content",
      "id": "ai-classify-social",
      "typeVersion": 4.2,
      "position": [
        2208,
        304
      ],
      "type": "n8n-nodes-base.httpRequest",
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\nconst industry = $('Set Search Parameters').first().json.industry;\n// Hardcoded for self-hosted (no Variables). Replace placeholder with your N8N_INGEST_SECRET from .env.local:\nconst baseUrl = 'https://amadutown.com';\nconst secret = 'N8N_INGEST_SECRET=QeN22JCeKUfIPbVAgUIm08GWKPttK2QG/NtKRLGMqS4=';\n\nfor (const item of items) {\n  try {\n    const aiResponse = item.json;\n    const batchItem = $('Batch for AI Classification').item?.json || {};\n    const url = batchItem.url || '';\n\n    let textContent = '';\n    if (aiResponse.content && Array.isArray(aiResponse.content)) {\n      textContent = aiResponse.content.map(c => c.text || '').join('');\n    }\n\n    const jsonMatch = textContent.match(/\\[[\\s\\S]*\\]/);\n    if (!jsonMatch) continue;\n\n    const painPoints = JSON.parse(jsonMatch[0]);\n\n    for (const pp of painPoints) {\n      if (!pp.category || !pp.severity) continue;\n      \n      try {\n        const res = await fetch(`${baseUrl}/api/admin/value-evidence/ingest`, {\n          method: 'POST',\n          headers: {\n            'Content-Type': 'application/json',\n            'Authorization': 'Bearer ' + secret\n          },\n          body: JSON.stringify({\n            evidence: [{\n              pain_point_category_name: pp.category,\n              source_type: 'social_media',\n              source_id: url,\n              source_excerpt: (pp.source_excerpt || '').substring(0, 500),\n              confidence_score: pp.confidence_score ?? 0.4,\n              monetary_indicator: pp.monetary_indicator ?? null,\n              industry: industry || null\n            }]\n          })\n        });\n        results.push({ json: { status: res.ok ? 'ingested' : 'failed', category: pp.category, statusCode: res.status } });\n      } catch (err) {\n        results.push({ json: { status: 'failed', category: pp.category, error: err.message } });\n      }\n    }\n  } catch (err) {\n    // Skip parsing failures\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { status: 'no_pain_points_found' } }];"
      },
      "name": "Parse and POST Results",
      "id": "parse-and-post",
      "typeVersion": 2,
      "position": [
        2464,
        304
      ],
      "type": "n8n-nodes-base.code"
    },
    {
      "parameters": {},
      "name": "Continue Batch Loop",
      "id": "continue-batch",
      "typeVersion": 1,
      "position": [
        2704,
        304
      ],
      "type": "n8n-nodes-base.noOp"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Set Search Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Search Parameters": {
      "main": [
        [
          {
            "node": "Scrape Reddit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scrape Google Maps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Reddit": {
      "main": [
        [
          {
            "node": "Extract Reddit Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Google Maps": {
      "main": [
        [
          {
            "node": "Extract GMaps Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Reddit Results": {
      "main": [
        [
          {
            "node": "Merge Scraped Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract GMaps Results": {
      "main": [
        [
          {
            "node": "Merge Scraped Content",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Scraped Content": {
      "main": [
        [
          {
            "node": "Filter Non-Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Non-Empty": {
      "main": [
        [
          {
            "node": "POST Raw to Market Intel",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "POST Raw to Market Intel": {
      "main": [
        [
          {
            "node": "Batch for AI Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch for AI Classification": {
      "main": [
        [
          {
            "node": "AI Classify Social Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI Classify Social Content": {
      "main": [
        [
          {
            "node": "Parse and POST Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and POST Results": {
      "main": [
        [
          {
            "node": "Continue Batch Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue Batch Loop": {
      "main": [
        [
          {
            "node": "Batch for AI Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "1721ee54-80b7-4dc5-90a4-30cd64314d4c",
  "activeVersionId": "1721ee54-80b7-4dc5-90a4-30cd64314d4c",
  "versionCounter": 11,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-10T04:34:38.569Z",
      "createdAt": "2026-02-10T04:34:38.569Z",
      "role": "workflow:owner",
      "workflowId": "jrnaN1yp8nSDKJB9",
      "projectId": "TeIheDYiQkebiIvt",
      "project": {
        "updatedAt": "2025-12-13T01:11:01.102Z",
        "createdAt": "2025-12-13T01:09:43.703Z",
        "id": "TeIheDYiQkebiIvt",
        "name": "Vambah Sillah <vsillah@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "40690b8a-67b7-469e-b617-699a163b2224",
        "projectRelations": [
          {
            "updatedAt": "2025-12-13T01:09:43.704Z",
            "createdAt": "2025-12-13T01:09:43.704Z",
            "userId": "40690b8a-67b7-469e-b617-699a163b2224",
            "projectId": "TeIheDYiQkebiIvt",
            "user": {
              "updatedAt": "2026-02-10T11:23:32.000Z",
              "createdAt": "2025-12-13T01:09:43.182Z",
              "id": "40690b8a-67b7-469e-b617-699a163b2224",
              "email": "vsillah@gmail.com",
              "firstName": "Vambah",
              "lastName": "Sillah",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-13T01:11:28.944Z",
                "personalization_survey_n8n_version": "1.123.5",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "nWF9u3cNrB7BRtb5",
                "userActivatedAt": 1766783175251,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770330867466
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-10T18:02:46.000Z",
    "createdAt": "2026-02-10T18:02:42.326Z",
    "versionId": "1721ee54-80b7-4dc5-90a4-30cd64314d4c",
    "workflowId": "jrnaN1yp8nSDKJB9",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "vep-002-social",
          "options": {}
        },
        "name": "Webhook Trigger",
        "id": "webhook-trigger",
        "typeVersion": 2,
        "position": [
          0,
          400
        ],
        "type": "n8n-nodes-base.webhook",
        "webhookId": "c8e0dcb1-35f3-4f74-9311-3d78e4d06bcf"
      },
      {
        "parameters": {
          "content": "## WF-VEP-002: Social Listening Pipeline\n\nScrapes external platforms for pain point mentions using Apify actors:\n1. Reddit (subreddit search)\n2. Google Maps Reviews (competitor reviews)\n\nFlow:\n- Webhook trigger from admin dashboard\n- Parallel Apify scrapes per platform\n- Raw data ingested to /api/admin/value-evidence/ingest-market\n- AI classifies pain points from scraped content\n- Classified results sent to /api/admin/value-evidence/ingest",
          "height": 250,
          "width": 440
        },
        "name": "WF-VEP-002 Overview",
        "id": "sticky-overview",
        "typeVersion": 1,
        "position": [
          -288,
          -192
        ],
        "type": "n8n-nodes-base.stickyNote"
      },
      {
        "parameters": {
          "content": "## Required Setup\n\n1. **Apify API Token**: Set env var APIFY_API_TOKEN\n2. **Anthropic API Key**: Add as HTTP Header Auth credential\n3. **Environment variables**:\n   - PORTFOLIO_BASE_URL\n   - N8N_INGEST_SECRET\n   - APIFY_API_TOKEN\n4. Customize search keywords in Set Search Parameters node",
          "height": 200,
          "width": 432
        },
        "name": "Setup Notes",
        "id": "sticky-setup",
        "typeVersion": 1,
        "position": [
          -288,
          96
        ],
        "type": "n8n-nodes-base.stickyNote"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "industry",
                "name": "industry",
                "value": "={{ $json.body?.industry || 'marketing_agency' }}",
                "type": "string"
              },
              {
                "id": "keywords",
                "name": "keywords",
                "value": "={{ ($json.body?.keywords || ['agency pain points', 'marketing automation problems', 'client management challenges']).join(',') }}",
                "type": "string"
              },
              {
                "id": "maxResults",
                "name": "maxResults",
                "value": "=20",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "name": "Set Search Parameters",
        "id": "set-params",
        "typeVersion": 3.4,
        "position": [
          288,
          400
        ],
        "type": "n8n-nodes-base.set"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.apify.com/v2/acts/trudax~reddit-scraper-lite/runs?waitForFinish=120",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.APIFY_API_TOKEN }}"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"searches\": {{ JSON.stringify($json.keywords.split(',').map(k => k.trim())) }},\n  \"sort\": \"relevance\",\n  \"time\": \"month\",\n  \"maxItems\": {{ $json.maxResults }},\n  \"searchComments\": true,\n  \"searchCommunities\": false\n}",
          "options": {
            "timeout": 180000
          }
        },
        "name": "Scrape Reddit",
        "id": "scrape-reddit",
        "typeVersion": 4.2,
        "position": [
          608,
          256
        ],
        "type": "n8n-nodes-base.httpRequest",
        "credentials": {
          "httpHeaderAuth": {
            "id": "wbhtM74echqqYM9t",
            "name": "Apify Token"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.apify.com/v2/acts/compass~crawler-google-places/runs?waitForFinish=120",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.APIFY_API_TOKEN }}"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"searchStringsArray\": {{ JSON.stringify($json.keywords.split(',').slice(0, 3).map(k => k.trim() + ' services')) }},\n  \"maxCrawledPlacesPerSearch\": 5,\n  \"maxReviews\": 10,\n  \"language\": \"en\"\n}",
          "options": {
            "timeout": 180000
          }
        },
        "name": "Scrape Google Maps",
        "id": "scrape-gmaps",
        "typeVersion": 4.2,
        "position": [
          608,
          560
        ],
        "type": "n8n-nodes-base.httpRequest",
        "credentials": {
          "httpHeaderAuth": {
            "id": "wbhtM74echqqYM9t",
            "name": "Apify Token"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const response = $input.first().json;\nconst items = response?.data?.defaultDatasetId ? [] : (response?.items || response?.data?.items || []);\nconst results = [];\n\nfor (const item of (items || []).slice(0, 30)) {\n  results.push({\n    json: {\n      platform: 'reddit',\n      content_type: 'social_post',\n      title: item.title || '',\n      body: (item.body || item.text || item.selftext || '').substring(0, 2000),\n      url: item.url || '',\n      author: item.author || '',\n      score: item.score || item.upVotes || 0,\n      created_at: item.createdAt || item.created || new Date().toISOString()\n    }\n  });\n}\n\nreturn results.length > 0 ? results : [{ json: { _empty: true, platform: 'reddit' } }];"
        },
        "name": "Extract Reddit Results",
        "id": "extract-reddit",
        "typeVersion": 2,
        "position": [
          912,
          256
        ],
        "type": "n8n-nodes-base.code"
      },
      {
        "parameters": {
          "jsCode": "const response = $input.first().json;\nconst items = response?.data?.defaultDatasetId ? [] : (response?.items || response?.data?.items || []);\nconst results = [];\n\nfor (const place of (items || [])) {\n  const reviews = place.reviews || [];\n  for (const review of reviews.slice(0, 10)) {\n    if (review.stars && review.stars <= 3) {\n      results.push({\n        json: {\n          platform: 'google_maps',\n          content_type: 'review',\n          title: place.title || place.name || '',\n          body: (review.text || review.textTranslated || '').substring(0, 2000),\n          url: place.url || place.placeUrl || '',\n          author: review.name || '',\n          score: review.stars || 0,\n          created_at: review.publishedAtDate || new Date().toISOString()\n        }\n      });\n    }\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { _empty: true, platform: 'google_maps' } }];"
        },
        "name": "Extract GMaps Results",
        "id": "extract-gmaps",
        "typeVersion": 2,
        "position": [
          912,
          560
        ],
        "type": "n8n-nodes-base.code"
      },
      {
        "parameters": {},
        "name": "Merge Scraped Content",
        "id": "merge-scraped",
        "typeVersion": 3,
        "position": [
          1200,
          400
        ],
        "type": "n8n-nodes-base.merge"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "has-content",
                "leftValue": "={{ $json._empty }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "notTrue"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "Filter Non-Empty",
        "id": "filter-nonempty",
        "typeVersion": 2,
        "position": [
          1456,
          400
        ],
        "type": "n8n-nodes-base.if"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://amadutown.com/api/admin/value-evidence/ingest-market",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-ingest-secret",
                "value": "={{ $env.N8N_INGEST_SECRET }}"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"platform\": \"{{ $json.platform }}\",\n  \"content_type\": \"{{ $json.content_type }}\",\n  \"title\": {{ JSON.stringify($json.title) }},\n  \"body\": {{ JSON.stringify($json.body) }},\n  \"url\": \"{{ $json.url }}\",\n  \"author\": {{ JSON.stringify($json.author) }},\n  \"engagement_score\": {{ $json.score || 0 }},\n  \"scraped_at\": \"{{ $json.created_at }}\"\n}",
          "options": {}
        },
        "name": "POST Raw to Market Intel",
        "id": "ingest-market",
        "typeVersion": 4.2,
        "position": [
          1712,
          304
        ],
        "type": "n8n-nodes-base.httpRequest"
      },
      {
        "parameters": {
          "batchSize": 5,
          "options": {}
        },
        "name": "Batch for AI Classification",
        "id": "batch-for-ai",
        "typeVersion": 3,
        "position": [
          1952,
          304
        ],
        "type": "n8n-nodes-base.splitInBatches"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are a business pain point classifier for {{ $('Set Search Parameters').first().json.industry }} companies.\\n\\nAnalyze this social media content and extract business pain points:\\n\\nPlatform: {{ $json.platform }}\\nTitle: {{ $json.title }}\\nContent: {{ $json.body }}\\n\\nReturn a JSON array of pain points found. Each object should have:\\n- category: one of [manual_reporting, slow_onboarding, no_automation, poor_lead_tracking, scattered_data, inconsistent_branding, missed_deadlines, no_analytics, manual_invoicing, poor_communication]\\n- severity: high, medium, or low\\n- confidence_score: 0.0 to 1.0\\n- source_excerpt: the relevant quote (max 200 chars)\\n- monetary_indicator: any dollar amount or time cost mentioned (or null)\\n\\nIf no relevant pain points found, return an empty array [].\\nReturn ONLY valid JSON. No explanation.\"\n    }\n  ]\n}",
          "options": {}
        },
        "name": "AI Classify Social Content",
        "id": "ai-classify-social",
        "typeVersion": 4.2,
        "position": [
          2208,
          304
        ],
        "type": "n8n-nodes-base.httpRequest",
        "credentials": {
          "httpHeaderAuth": {
            "id": "",
            "name": "Anthropic API Key"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst results = [];\nconst industry = $('Set Search Parameters').first().json.industry;\n// Hardcoded for self-hosted (no Variables). Replace placeholder with your N8N_INGEST_SECRET from .env.local:\nconst baseUrl = 'https://amadutown.com';\nconst secret = 'N8N_INGEST_SECRET=QeN22JCeKUfIPbVAgUIm08GWKPttK2QG/NtKRLGMqS4=';\n\nfor (const item of items) {\n  try {\n    const aiResponse = item.json;\n    const batchItem = $('Batch for AI Classification').item?.json || {};\n    const url = batchItem.url || '';\n\n    let textContent = '';\n    if (aiResponse.content && Array.isArray(aiResponse.content)) {\n      textContent = aiResponse.content.map(c => c.text || '').join('');\n    }\n\n    const jsonMatch = textContent.match(/\\[[\\s\\S]*\\]/);\n    if (!jsonMatch) continue;\n\n    const painPoints = JSON.parse(jsonMatch[0]);\n\n    for (const pp of painPoints) {\n      if (!pp.category || !pp.severity) continue;\n      \n      try {\n        const res = await fetch(`${baseUrl}/api/admin/value-evidence/ingest`, {\n          method: 'POST',\n          headers: {\n            'Content-Type': 'application/json',\n            'Authorization': 'Bearer ' + secret\n          },\n          body: JSON.stringify({\n            evidence: [{\n              pain_point_category_name: pp.category,\n              source_type: 'social_media',\n              source_id: url,\n              source_excerpt: (pp.source_excerpt || '').substring(0, 500),\n              confidence_score: pp.confidence_score ?? 0.4,\n              monetary_indicator: pp.monetary_indicator ?? null,\n              industry: industry || null\n            }]\n          })\n        });\n        results.push({ json: { status: res.ok ? 'ingested' : 'failed', category: pp.category, statusCode: res.status } });\n      } catch (err) {\n        results.push({ json: { status: 'failed', category: pp.category, error: err.message } });\n      }\n    }\n  } catch (err) {\n    // Skip parsing failures\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { status: 'no_pain_points_found' } }];"
        },
        "name": "Parse and POST Results",
        "id": "parse-and-post",
        "typeVersion": 2,
        "position": [
          2464,
          304
        ],
        "type": "n8n-nodes-base.code"
      },
      {
        "parameters": {},
        "name": "Continue Batch Loop",
        "id": "continue-batch",
        "typeVersion": 1,
        "position": [
          2704,
          304
        ],
        "type": "n8n-nodes-base.noOp"
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Set Search Parameters",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Search Parameters": {
        "main": [
          [
            {
              "node": "Scrape Reddit",
              "type": "main",
              "index": 0
            },
            {
              "node": "Scrape Google Maps",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Scrape Reddit": {
        "main": [
          [
            {
              "node": "Extract Reddit Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Scrape Google Maps": {
        "main": [
          [
            {
              "node": "Extract GMaps Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Reddit Results": {
        "main": [
          [
            {
              "node": "Merge Scraped Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract GMaps Results": {
        "main": [
          [
            {
              "node": "Merge Scraped Content",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge Scraped Content": {
        "main": [
          [
            {
              "node": "Filter Non-Empty",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Non-Empty": {
        "main": [
          [
            {
              "node": "POST Raw to Market Intel",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "POST Raw to Market Intel": {
        "main": [
          [
            {
              "node": "Batch for AI Classification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Batch for AI Classification": {
        "main": [
          [
            {
              "node": "AI Classify Social Content",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "AI Classify Social Content": {
        "main": [
          [
            {
              "node": "Parse and POST Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse and POST Results": {
        "main": [
          [
            {
              "node": "Continue Batch Loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Continue Batch Loop": {
        "main": [
          [
            {
              "node": "Batch for AI Classification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Vambah Sillah",
    "name": "Version 1721ee54",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-10T18:02:46.091Z",
        "id": 277,
        "workflowId": "jrnaN1yp8nSDKJB9",
        "versionId": "1721ee54-80b7-4dc5-90a4-30cd64314d4c",
        "event": "activated",
        "userId": "40690b8a-67b7-469e-b617-699a163b2224"
      }
    ]
  }
}